<!doctype html>
<html lang="ru">
<head>
    @*<meta charset="UTF-8">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/bootstrap/css")

    <link rel="stylesheet" href="~/Content/view/shared/_idsmors.css">
    @Scripts.Render("~/bundles/modernizr")

    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
</head>

<body>
    <div id="lockPanel" class="LockOff"></div>
    <nav id="mainNav" class="navbar navbar-expand-md navbar-amkr bg-amkr fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/Images/amk_logo.png" width="200" height="40" class="d-inline-block align-top" alt="">
            </a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                    @*<span class="sr-only">Toggle navigation</span>Menu<i class="fa fa-bars"></i>*@
                </button>
                <div class="collapse navbar-collapse novbar" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Index", "Home", new { area = "" })'>Номе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Index", "Home", new { area = "IDSMORS" })'>ИДС"УСПС"</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Index", "Home", new { area = "IDSRWT" })'>ВДС «ЖД АМКР»</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-item" href="#document">Добавить</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link page-scroll" href="#contact">link4</a>
                        </li>*@
                    </ul>
                </div>
            </div>

            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            @RenderBody()
            @*<div class="header-content-inner">

        </div>*@
        </div>
    </header>


    @*<header class="cd-header">
            <div id="cd-logo"><a href="#0"><img src="~/Images/amk_logo.png" alt="Logo"></a></div>
            <nav class="cd-main-nav">
                <ul>
                    <!-- inser more links here -->
                    <li><a href='@Url.Action("Index", "Home", new { area = "" })'>Home</a></li>
                    <li><a href='@Url.Action("Index", "Home", new { area = "IDSMORS" })'>ИДС"УСПС"</a></li>
                    <li><a id="new-item" href='#'>Добавить вагон</a></li>
                </ul>
            </nav> <!-- cd-main-nav -->
        </header>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-cookie")
    @Scripts.Render("~/bundles/jquery-ui")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

