@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @DirectoryResource.inland_railway_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/home.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->

    <script src="~/Scripts/plugins/pl_dialog_confirm.js"></script> <!-- Плагин -->

    <script src="~/Scripts/view/directory/inland_railway.js"></script> <!--  -->
}

<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="dialog-confirm"></div>

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            @DirectoryResource.inland_railway_title
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3 table-directory">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <table id="table-directory" class="display compact cell-border row-border hover" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark">&copy; @DateTime.Now.Year ДАТП & ТД</div>
            </div>
        </div>
    </div>
</div>

<div id="add_edit" title="" style="display:none">
    <div class="alert" id="add_edit_alert"></div>
    <form id="form_add_edit">
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_code" class="col-xl-5 col-form-label">@DirectoryResource.title_add_edit_kod_railway:</label>
            <div class="col-xl-7">
                <input type="number" class="form-control" id="add_edit_code" name="add_edit_code">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_inlandrailway_name_ru" class="col-xl-5 col-form-label">@DirectoryResource.title_add_edit_inlandrailway_name_ru:</label>
            <div class="col-xl-7">
                <textarea class="form-control" id="add_edit_inlandrailway_name_ru" name="add_edit_inlandrailway_name_ru" placeholder=""></textarea>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_inlandrailway_name_en" class="col-xl-5 col-form-label">@DirectoryResource.title_add_edit_inlandrailway_name_en:</label>
            <div class="col-xl-7">
                <textarea class="form-control" id="add_edit_inlandrailway_name_en" name="add_edit_inlandrailway_name_en" placeholder=""></textarea>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_inlandrailway_abbr_ru" class="col-xl-5 col-form-label">@DirectoryResource.title_add_edit_inlandrailway_abbr_ru:</label>
            <div class="col-xl-7">
                <input type="text" class="form-control" id="add_edit_inlandrailway_abbr_ru" name="add_edit_inlandrailway_abbr_ru" min="0" max="20">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_inlandrailway_abbr_en" class="col-xl-5 col-form-label">@DirectoryResource.title_add_edit_inlandrailway_abbr_en:</label>
            <div class="col-xl-7">
                <input type="text" class="form-control" id="add_edit_inlandrailway_abbr_en" name="add_edit_inlandrailway_abbr_en" min="0" max="20">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="add_edit_railway" class="col-sm-5 col-form-label">@DirectoryResource.title_add_edit_railway:</label>
            <div class="col-xl-7">
                <input type="number" class="form-control col-xl-4" id="add_edit_railway_code" name="add_edit_railway_code" disabled>
                <textarea class="form-control" id="add_edit_railway" name="add_edit_railway" placeholder="" style="height:8rem"></textarea>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>
