@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @DirectoryResource.present_wagon_marking_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/home.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_sap.js"></script> <!-- Class API SAP функции для работы с САП -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/ids_rwt.js"></script> <!-- Class API ИДС Прием вагонов -->

    <script src="~/Scripts/view/directory/present_wagon_marking.js"></script> <!--  -->
}

<input id="username" type="hidden" value="@User.Identity.Name" />

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <label class="col-form-label text-white mr-2" for="select_date">Выбрать период: </label>
                                    <span id="select_date">
                                        <input type="datetime" class="form-control" id="date_start" name="date_start">
                                        <input type="datetime" class="form-control" id="date_stop" name="date_stop">
                                    </span>
                                    <label class="col-form-label text-white mr-2" for="select_station">Станция прибытия: </label>
                                    <select type="text" id="select_station" name="select_station" class="form-control"></select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3 table-directory">
                    <div class="card">
                        <div class="card-header" id="sostav_info"></div>
                        <div class="card-body table-directory">
                            <div class="row">
                                <div class="col-xl-4">
                                    <fieldset class="border-primary">
                                        <legend class="text-primary">Предъявленные составы</legend>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <table class="display compact table-striped table-hover" id="table-sostav" style="width:100%;"></table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-xl-8">
                                    <fieldset class="border-primary">
                                        <legend class="text-primary">Вагоны в составе</legend>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <table class="display compact table-striped table-hover" id="table-wagon" style="width:100%;"></table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark">&copy; @DateTime.Now.Year ДАТП & ТД</div>
            </div>
        </div>
    </div>
</div>

<div id="edit_condition" title="" style="display:none">
    <div class="alert" id="edit_condition_alert"></div>
    <form id="form_edit_condition">
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="edit_condition_present" class="col-sm-5 col-form-label">@DirectoryResource.present_wagon_marking_title:</label>
            <div class="col-sm-7">
                <textarea class="form-control" id="edit_condition_present" name="edit_condition_present"></textarea>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>

<div id="close_condition" title="" style="display:none">
    <div class="alert" id="close_condition_alert"></div>
    <form id="form_close_condition">
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="close_condition_date" class="col-sm-6 col-form-label">@DirectoryResource.title_close_condition_date:</label>
            <div class="col-sm-6">
                <input type="datetime" class="form-control" id="close_condition_date" name="close_condition_date">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>



