@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @DirectoryResource.present_wagon_marking_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/home.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_sap.js"></script> <!-- Class API SAP функции для работы с САП -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/ids_rwt.js"></script> <!-- Class API ИДС Прием вагонов -->

    <script src="~/Scripts/view/directory/present_wagon_marking.js"></script> <!--  -->
}

<input id="username" type="hidden" value="@User.Identity.Name" />

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <label class="col-form-label text-white mr-2" for="select_date">Выбрать период: </label>
                                    <span id="select_date">
                                        <input type="datetime" class="form-control" id="date_start" name="date_start" style="font-size:1.5rem">
                                        <input type="datetime" class="form-control" id="date_stop" name="date_stop" style="font-size:1.5rem">
                                    </span>
                                    <label class="col-form-label text-white mr-2" for="select_station">Станция прибытия: </label>
                                    <select type="text" id="select_station" name="select_station" class="form-control" style="font-size:1.5rem"></select>
                                    <label class="col-form-label text-white mr-2" for="select_doc">Номер документа: </label>
                                    <select type="text" id="select_doc" name="select_doc" class="form-control" style="font-size:1.5rem"></select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3" style="font-size:1.3rem">
                    <div class="card">
                        <div class="card-header" id="sostav_info">

                            @*<label id="sostav_info"></label>*@
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-8" style="font-size:13px">
                                    <table class="display compact hover row-border cell-border" id="table-wagon" style="width:100%; table-layout: fixed"></table>
                                </div>
                                <div class="col-xl-4" style="font-size:13px">
                                    <form>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label for="edit_note_vagonnik" class="col-form-label">@DirectoryResource.title_edit_note_vagonnik:</label>
                                                <textarea class="form-control" id="edit_note_vagonnik" name="edit_note_vagonnik" rows="10" style="font-size:13px"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark">&copy; @DateTime.Now.Year ДАТП & ТД</div>
            </div>
        </div>
    </div>
</div>

<div id="edit_condition" title="" style="display:none">
    <div class="alert" id="edit_condition_alert"></div>
    <form id="form_edit_condition">
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="edit_condition_arrival" class="col-sm-5 col-form-label">@IDSRWTResource.title_wagons_condition:</label>
            <div class="col-sm-7">
                <select class="form-control" id="edit_condition_arrival" name="edit_condition_arrival"></select>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="edit_condition_type" class="col-sm-5 col-form-label">@IDSRWTResource.title_type_wagons:</label>
            <div class="col-sm-7">
                <select class="form-control" id="edit_condition_type" name="edit_condition_type"></select>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5rem">
            <label for="edit_condition_date_rem_vag" class="col-sm-5 col-form-label">@IDSRWTResource.title_date_rem_vag:</label>
            <div class="col-sm-7">
                <input type="datetime" class="form-control" id="edit_condition_date_rem_vag" name="edit_condition_date_rem_vag">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>



