@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @DirectoryResource.search_wagon_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @*@Styles.Render("~/DateTime/css")*@
    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/home.css">
    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/search_wagon.css">
    @*<link href="~/Content/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/brands.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-free/css/solid.css" rel="stylesheet" />*@
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @*@Scripts.Render("~/bundles/DateTime")*@

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_sap.js"></script> <!-- Class API SAP функции для работы с САП -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/ids_rwt.js"></script> <!-- Class API ИДС Прием вагонов -->

    <script src="~/Scripts/module/table_arrival.js"></script> <!-- модуль таблиц по прибытию -->
    <!--<script src="~/Scripts/view/directory/search_wagon.js"></script>--> <!--  -->
    <script src="~/Scripts/view/directory/main_search_wagon.js"></script>

    <script>
        var url_incoming = '@Url.Action("Incoming", "Home", new { area = "IDSRWT" })';
    </script>

}

<input id="username" type="hidden" value="@User.Identity.Name" />
<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <label class="col-form-label text-white mr-2" for="num_wagon">Найти вагон:</label>
                                    <input class="form-control mr-sm-2" id="num_wagon" name="num_wagon" type="number" style="font-size:1.5rem;" placeholder="Номер вагона" aria-label="Search">
                                    <button class="btn btn-primary my-2 my-sm-0" id="bt_search_wagon" name="bt_search_wagon" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-directory-tab" data-toggle="pill" href="#pills-directory" role="tab" aria-controls="pills-directory" aria-selected="true">Справочные данные</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">История</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-arrival-tab" data-toggle="pill" href="#pills-arrival" role="tab" aria-controls="pills-arrival" aria-selected="false">Прибытие</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-wir-tab" data-toggle="pill" href="#pills-wir" role="tab" aria-controls="pills-wir" aria-selected="false">Перемещение на АМКР</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-outgoing-tab" data-toggle="pill" href="#pills-outgoing" role="tab" aria-controls="pills-outgoing" aria-selected="false">Отправка</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-directory" role="tabpanel" aria-labelledby="pills-directory-tab">
                                    <div class="row">
                                        <div class="col-xl-6 operator-detali-tables">
                                            <fieldset class="border-primary">
                                                <legend>Основные</legend>
                                                <div class="row mb-2">
                                                    <div class="col-xl-12 d-flex">
                                                        <label for="code_sng" class="col-form-label text-right w-10">Код:</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-5" id="code_sng" name="code_sng" disabled>
                                                        <label for="countrys_name" class="col-form-label text-right ml-2 w-15">Администрация:</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-10" id="countrys_name" name="countrys_name" disabled>
                                                        <label for="genus_abbr" class="col-form-label text-right ml-2 w-10">Род(абр.):</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-5" id="genus_abbr" name="genus_abbr" disabled>
                                                        <label for="genus_name" class="col-form-label  text-right ml-2 w-15">Род вагона:</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-15" id="genus_name" name="genus_name" disabled>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-xl-12 d-flex">
                                                        <label for="usl_tip" class="col-form-label text-right w-10">Тип цист.:</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-10" id="usl_tip" name="usl_tip" disabled>
                                                        <label for="kol_os" class="col-form-label text-right ml-2 w-10">Кол. ос.:</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-10" id="kol_os" name="kol_os" disabled>
                                                        <label for="gruzp" class="col-form-label text-right ml-2 w-10">Груз-сть (УЗ):</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-10" id="gruzp" name="gruzp" disabled>
                                                        <label for="tara" class="col-form-label  text-right ml-2 w-10">Тара (УЗ):</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-10" id="tara" name="tara" disabled>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-xl-12 d-flex">
                                                        <label for="year_built" class="col-form-label text-right w-10">Год постр.:</label>
                                                        <input type="number" readonly class="form-control info-wagon-form-control ml-2 w-10" id="year_built" name="year_built" disabled>
                                                        <label for="factory_number" class="col-form-label text-right ml-2 w-10">Заводской №:</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-15" id="factory_number" name="factory_number" disabled>
                                                        <label for="inventory_number" class="col-form-label text-right ml-2 w-15">Инвентарный №:</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-15" id="inventory_number" name="inventory_number" disabled>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-xl-12 d-flex">
                                                        <label for="owner" class="col-form-label text-right w-15">Собственник (УЗ):</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-50" id="owner" name="owner" disabled>
                                                        @*<label for="factory_number" class="col-form-label text-right ml-2 w-10">Заводской №:</label>
                                    <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-15" id="factory_number" name="factory_number" disabled>*@
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-xl-12 d-flex">
                                                        <label for="operators" class="col-form-label text-right w-15">Оператор (УЗ):</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-50" id="operators" name="operators" disabled>
                                                        <label for="factory_number" class="col-form-label text-right ml-2 w-10">Заводской №:</label>
                                                        <input type="text" readonly class="form-control info-wagon-form-control ml-2 w-15" id="factory_number" name="factory_number" disabled>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-xl-6 operator-detali-tables">
                                            <table class="display compact hover row-border" id="table_info_wagon_rent" style="width:100%;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
                                    <div class="row">
                                        <div class="col-xl-12 operator-detali-tables">
                                            <table class="display compact hover row-border" id="table_approaches_wagon" style="width:100%;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-arrival" role="tabpanel" aria-labelledby="pills-arrival-tab">
                                    <div class="row">
                                        <div class="col-xl-12 operator-detali-tables">
                                            <table class="display compact cell-border row-border hover" id="table_arrival_wagon" style="width:100%;"></table>
                                        </div>
                                        @*<div class="col-xl-12 operator-detali-tables">
                                            <table class="display compact cell-border row-border hover" id="table_detali_wir" style="width:100%;"></table>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-wir" role="tabpanel" aria-labelledby="pills-wir-tab">
                                    <div class="row">
                                        <div class="col-xl-12 operator-detali-tables">
                                            <table class="display compact cell-border row-border hover" id="table_wir" style="width:100%;"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-outgoing" role="tabpanel" aria-labelledby="pills-outgoing-tab">
                                    <div class="row">
                                        <div class="col-xl-12 operator-detali-tables">
                                            <table class="display compact cell-border row-border hover" id="table_outgoing_wagon" style="width:100%;"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--<div class="row mb-3">
                        <div class="col-xl-12">
                            <div class="card border-success mt-3">-->
                                <!-- Шапка -->
                                <!--<div class="card-header text-success">
                                    <button class="btn btn-link text-success text-uppercase" data-toggle="collapse" data-target="#info_wagon" style="font-size:1.3rem">Карточка вагона</button>
                                </div>-->
                                <!-- Текстовый контент -->
                                <!--<div class="card-body collapse show" id="info_wagon">

                                </div>
                            </div>--><!-- Конец карточки -->
                        <!--</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <div class="card border-secondary mt-3">-->
                                <!-- Шапка -->
                                <!--<div class="card-header text-secondary">
                                    <button class="btn btn-link text-secondary text-uppercase" data-toggle="collapse" data-target="#approaches_wagon" style="font-size:1.3rem">Истроия</button><span id="type-search" class="badge badge-primary"></span>
                                </div>-->
                                <!-- Текстовый контент -->
                                <!--<div class="card-body collapse show" id="approaches_wagon">

                                </div>
                            </div>--><!-- Конец карточки -->
                        <!--</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <div class="card border-primary mt-3">-->
                                <!-- Шапка -->
                                <!--<div class="card-header text-primary">
                                    <button class="btn btn-link text-primary text-uppercase" data-toggle="collapse" data-target="#arrival_wagon" style="font-size:1.3rem">Прибытие на АМКР</button><span id="type-search" class="badge badge-primary"></span>
                                </div>-->
                                <!-- Текстовый контент -->
                                <!--<div class="card-body collapse show" id="arrival_wagon">

                                </div>
                            </div>--><!-- Конец карточки -->
                        <!--</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-12">
                            <div class="card border-info mt-3">-->
                                <!-- Шапка -->
                                <!--<div class="card-header text-info">
                                    <button class="btn btn-link text-info text-uppercase" data-toggle="collapse" data-target="#internal_wagon" style="font-size:1.3rem">На АМКР</button><span id="type-search" class="badge badge-primary"></span>
                                </div>-->
                                <!-- Текстовый контент -->
                                <!--<div class="card-body collapse show" id="internal_wagon">

                                </div>
                            </div>--><!-- Конец карточки -->
                        <!--</div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card border-primary mt-3">-->
                                <!-- Шапка -->
                                <!--<div class="card-header text-primary">
                                    <button class="btn btn-link text-primary text-uppercase" data-toggle="collapse" data-target="#outgoing_wagon" style="font-size:1.3rem">Отправление на УЗ</button><span id="type-search" class="badge badge-primary"></span>
                                </div>-->
                                <!-- Текстовый контент -->
                                <!--<div class="card-body collapse show" id="outgoing_wagon">

                                </div>
                            </div>--><!-- Конец карточки -->
                        <!--</div>
                    </div>-->
                </div>
                <div class="card-footer bg-transparent border-dark">&copy; @DateTime.Now.Year ДАТП & ТД</div>
            </div>
        </div>
    </div>
</div>


