@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @DirectoryResource.usage_fee_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")


    <link rel="stylesheet" type="text/css" href="~/Content/view/directory/usage_fee.css">
    <!-- модули -->
    <link href="~/Content/module/directory/table_directory.css" rel="stylesheet" type="text/css" />

}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script>                 <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/module/shared/modal_confirm_form.js"></script>-->   <!-- Форма сообщений подтверждения -->
    <script src="~/Scripts/api/shared.js"></script>-->                      <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_server.js"></script>                     <!-- Работа с сервером библиотека методов API -->
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>


    <script src="~/Scripts/module/directory/table_directory.js"></script>
    <script src="~/Scripts/view/directory/main_usage_fee.js"></script> <!--  -->
}

<input id="username" type="hidden" value="@User.Identity.Name" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb-incoming" aria-controls="nb-incoming" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="nb-incoming">
            @*<form class="form-inline d-flex w-100">
                    <div class="form-group mb-2">
                        <label for="num_vagon" class="col-form-label-sm mr-2">Номер вагона:</label>
                        <input type="number" class="form-control-sm" id="num_vagon" name="num_vagon">
                    </div>
                    <button id="searsh" class="btn btn-primary btn-sm ml-1 mb-2">Найти</button>
                </form>*@
        </div>
        <div>
            <label class="text-warning">@User.Identity.Name</label><br />
            <label class="text-warning" id="curent_date"></label>
        </div>
        <div class="ml-1">
            <a href="#" id="client_count" class="badge badge-primary">0</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row mt-1">
        <div class="col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">РАСЧЕТ ПЛАТЫ ЗА ПОЛЬЗОВАНИЕ</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="card border-secondary mb-3">
                                <div class="card-header">Справочник операторов</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12" id="operators-wagons">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Род вагонов</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12" id="operators-wagons-genus">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">УСЛОВИЯ РАСЧЕТА</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12" id="form-edit">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

