@using WEB_UI.App_LocalResources;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/bootstrap/css")
    <!-- Custom Fonts -->
    @Styles.Render("~/font-awesome/css")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    @Styles.Render("~/magnific-popup/css")

    <!-- Theme CSS -->
    <link href="~/Content/view/ids_layout.css" rel="stylesheet">

    @RenderSection("styles", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> @GlobalResource.home_menu <i class="fa fa-bars"></i>
                </button>
                @*<a class="navbar-brand page-scroll" href="#page-top">@GlobalResource.home_link_home</a>*@
                <a class="navbar-brand" href='@Url.Action("Index", "Home", new { Area = "" })'>@GlobalResource.home_link_home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @using (Html.BeginForm("ChangeCulture", "Home", new { area = "" }))
                        {
                            @Html.RouteLink("RU", new
                           {
                               controller = "Home",
                               action = "ChangeCulture",
                               area = "",
                               lang = "ru"
                           }, new { @class = "ru-RU" == @GlobalResource.lang ? "select-lang" : "select-not-lang" })
                            @Html.RouteLink("EN", new
                           {
                               controller = "Home",
                               action = "ChangeCulture",
                               area = "",
                               lang = "en"
                           }, new { @class = "en-US" == @GlobalResource.lang ? "select-lang" : "select-not-lang" })
                        }
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">@GlobalResource.home_link_system</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">@GlobalResource.home_link_services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#document">@GlobalResource.home_link_document</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">@GlobalResource.home_link_contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                @RenderBody()
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">@GlobalResource.system_idsmors_title</h2>
                    <hr class="light">
                    <p class="text-faded">@GlobalResource.system_idsmors_description</p>
                    <a href='@Url.Action("Index", "Home", new { Area = "IDSMORS" })' class="btn btn-default btn-xl sr-button">@GlobalResource.link_goto</a>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">@GlobalResource.system_rail_transport_title</h2>
                    <hr class="light">
                    <p class="text-faded">@GlobalResource.system_rail_transport_description</p>
                    <a href="#" class="btn btn-default btn-xl sr-button">@GlobalResource.link_goto</a>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">@GlobalResource.system_transport_department_title</h2>
                    <hr class="light">
                    <p class="text-faded">@GlobalResource.system_transport_department_description</p>
                    <a href="#" class="btn btn-default btn-xl sr-button">@GlobalResource.link_goto</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@GlobalResource.home_link_services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Администрирование</h3>
                        <p class="text-muted">Сервисы для настройки систем, служб и предоставления доступа к Web-сервисам ИДС</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Рассылка</h3>
                        <p class="text-muted">Настройка и контроль рассылка электронной почты сервисами ИДС</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Справочники УЗ</h3>
                        <p class="text-muted">Справочники грузов, железных дорог и станций УЗ</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Контроль систем</h3>
                        <p class="text-muted">Диагностика и контроль работы ИДС</p>
                    </div>
                </div>
            </div>
        </div>
        @RenderSection("Services", false)
    </section>

    <section class="no-padding" id="document">
        @RenderSection("Document", false)
    </section>

    @*<aside class="bg-dark">*@
    <aside class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">
                @*<h2>Free Download at Start Bootstrap!</h2>
                    <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>*@
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">@GlobalResource.home_link_contact</h2>
                    <hr class="primary">
                    <p>@GlobalResource.contact_admin_title</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>@GlobalResource.contact_admin_phone</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:Eduard.Levchenko@arcelormittal.com">@GlobalResource.contact_admin_email</a></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>@GlobalResource.contact_rail_transport_title</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>@GlobalResource.contact_rail_transport_phone</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:Eduard.Levchenko@arcelormittal.com">@GlobalResource.contact_rail_transport_email</a></p>
                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-cookie")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Plugin JavaScript -->
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/scrollreveal")
    @Scripts.Render("~/bundles/magnific-popup")

    <!-- Theme JavaScript -->
    <script src="~/Scripts/view/ids_layout.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>

