@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSMORSResource.ecards_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @*<link rel="stylesheet" type="text/css" href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Content/view/shared/filter-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsmors/electronic-cards.css">


}

@section scripts {
    @Scripts.Render("~/bundles/DataTables")


    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_mors.js"></script> <!-- Class API ИДС " Управление собственным подвижным составом" -->

    <script src="~/Scripts/view/idsmors/electronic-cards.js"></script> <!--  -->
}
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            @*<input id="myInput1" type="text" />
                <input id="myInput2" type="text" />*@

        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <table class='compact cell-border display' id="table-cards-wagons" style="width:100%" cellpadding="0"></table>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form id="filtr"></form>
        <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->

<div class="cd-wagon-content">
    <div>
        <form id="wagon-content">
            <div class="wagon-view">
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-12">
                        <button type="button" id="bt-edit" class="btn btn-primary">@IDSMORSResource.bt_edit_text</button>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="num-wagon-view">@IDSMORSResource.num_wagon_label:</label>
                        <input type="number" class="form-control" id="num-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <fieldset>
                    <legend> @IDSMORSResource.legend_main_characteristics </legend>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="state-wagon-view">@IDSMORSResource.state_label:</label>
                            <input type="text" class="form-control" id="state-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="station-wagon-view">@IDSMORSResource.station_label:</label>
                            <input type="text" class="form-control" id="station-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="genus-wagon-view">@IDSMORSResource.genus_wagon_label:</label>
                            <input type="text" class="form-control" id="genus-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="type-wagon-view">@IDSMORSResource.type_wagon_label:</label>
                            <input type="text" class="form-control" id="type-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="code-model-wagon-view">Модель:</label>
                            <input type="text" class="form-control" id="code-model-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="wagon-manufacturer-wagon-view">Завод изготовитель:</label>
                            <input type="text" class="form-control" id="wagon-manufacturer-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="year-wagon-create-wagon-view">Год постройки:</label>
                            <input type="text" class="form-control" id="year-wagon-create-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label for="carrying-capacity-wagon-view">Грузоподъемность,т:</label>
                            <input type="text" class="form-control" id="carrying-capacity-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="tara-wagon-view">Тара, тонн:</label>
                            <input type="text" class="form-control" id="tara-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="body-volume-wagon-view">Объем кузова:</label>
                            <input type="text" class="form-control" id="body-volume-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="axis-length-wagon-view">Длина по осям,м:</label>
                            <input type="text" class="form-control" id="axis-length-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="type-repairs-wagon-view">Тип планируемого ремонта:</label>
                            <input type="text" class="form-control" id="type-repairs-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="date-type-repairs-wagon-view">Дата планируемого ремонта:</label>
                            <input type="text" class="form-control" id="date-type-repairs-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> Собственность </legend>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="type-ownership-wagon-view">Признак собственности:</label>
                            <input type="text" class="form-control" id="type-ownership-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="owner-wagon-view">Собственник:</label>
                            <input type="text" class="form-control" id="owner-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="date-registration-wagon-view">Дата последней регистрации:</label>
                            <input type="text" class="form-control" id="date-registration-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="lessor-wagon-view">Арендодатель:</label>
                            <input type="text" class="form-control" id="lessor-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="operator-wagon-view">Оперативное управление:</label>
                            <input type="text" class="form-control" id="operator-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="poligon-travel-wagon-view">Полигон курсирования:</label>
                            <input type="text" class="form-control" id="poligon-travel-wagon-view" placeholder="" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="special-conditions-view">Особые условия:</label>
                            <input type="text" class="form-control" id="special-conditions-view" placeholder="" disabled>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> Ремонты </legend>
                    <fieldset>
                        <legend> ДЕПОвский </legend>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="depo-date-wagons-repairs-view">Дата:</label>
                                <input type="text" class="form-control" id="depo-date-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="depo-internal-railroad-wagons-repairs-view">Дорога:</label>
                                <input type="text" class="form-control" id="depo-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="depo-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                <input type="text" class="form-control" id="depo-code-depo-wagons-repairs-view" placeholder="" disabled>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend> Капитальный </legend>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="kap-date-wagons-repairs-view">Дата:</label>
                                <input type="text" class="form-control" id="kap-date-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="kap-internal-railroad-wagons-repairs-view">Дорога:</label>
                                <input type="text" class="form-control" id="kap-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="kap-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                <input type="text" class="form-control" id="kap-code-depo-wagons-repairs-view" placeholder="" disabled>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend> Текущий </legend>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="cur-date-wagons-repairs-view">Дата:</label>
                                <input type="text" class="form-control" id="cur-date-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="cur-internal-railroad-wagons-repairs-view">Дорога:</label>
                                <input type="text" class="form-control" id="cur-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="cur-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                <input type="text" class="form-control" id="cur-code-depo-wagons-repairs-view" placeholder="" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <label for="cur-type-wagons-repairs-view">Вид ремонта:</label>
                                <input type="text" class="form-control" id="cur-type-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="cur-date-non-working-wagons-repairs-view">Дата постановки в нер. парк:</label>
                                <input type="text" class="form-control" id="cur-date-non-working-wagons-repairs-view" placeholder="" disabled>
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="cur-condition-wagons-repairs-view">Неисправность:</label>
                                <input type="text" class="form-control" id="cur-condition-wagons-repairs-view" placeholder="" disabled>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <div class="wagon-edit">
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-12">
                        <button type="button" id="bt-save" class="btn btn-primary">Сохранить</button>
                        <button type="button" id="bt-cancel" class="btn btn-primary">Отмена</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="num-wagon-view">@IDSMORSResource.num_wagon_label:</label>
                        <input type="number" class="form-control" id="num-wagon-view" placeholder="" disabled>
                    </div>
                </div>
                <fieldset>
                    <legend> @IDSMORSResource.legend_main_characteristics </legend>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="state-wagon-edit">@IDSMORSResource.state_label:</label>
                            <select class="form-control" id="state-wagon-edit">
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="station-wagon-edit">@IDSMORSResource.station_label:</label>
                            <input type="text" class="form-control" id="station-wagon-edit" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="genus-wagon-edit">Род подвижного сотава:</label>
                            <select class="form-control" id="genus-wagon-edit"></select>
                          </div>
                        <div class="form-group col-xs-4">
                            <label for="type-wagon-edit">Тип подвижного сотава:</label>
                            <select class="form-control" id="type-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="code-model-wagon-edit">Модель:</label>
                            <input type="text" class="form-control" id="code-model-wagon-edit" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="wagon-manufacturer-wagon-edit">Завод изготовитель:</label>
                            <select class="form-control" id="wagon-manufacturer-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="year-wagon-create-wagon-edit">Год постройки:</label>
                            <input type="number" class="form-control" id="year-wagon-create-wagon-edit" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label for="carrying-capacity-wagon-edit">Грузоподъемность,т:</label>
                            <input type="number" class="form-control" id="carrying-capacity-wagon-edit" placeholder="">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="tara-wagon-edit">Тара, тонн:</label>
                            <input type="number" class="form-control" id="tara-wagon-edit" placeholder="">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="body-volume-wagon-edit">Объем кузова:</label>
                            <input type="number" class="form-control" id="body-volume-wagon-edit" placeholder="">
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="axis-length-wagon-edit">Длина по осям,м:</label>
                            <input type="number" class="form-control" id="axis-length-wagon-edit" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="type-repairs-wagon-edit">Тип планируемого ремонта:</label>
                            <select class="form-control" id="type-repairs-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="date-type-repairs-wagon-edit">Дата планируемого ремонта:</label>
                            <input type="date" class="form-control" id="date-type-repairs-wagon-edit" placeholder="">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend> Собственность </legend>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="type-ownership-wagon-edit">Признак собственности:</label>
                            <select class="form-control" id="type-ownership-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="owner-wagon-edit">Собственник:</label>
                            <select class="form-control" id="owner-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="date-registration-wagon-edit">Дата последней регистрации:</label>
                            <input type="date" class="form-control" id="date-registration-wagon-edit" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="lessor-wagon-edit">Арендодатель:</label>
                            <select class="form-control" id="lessor-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="operator-wagon-edit">Оперативное управление:</label>
                            <select class="form-control" id="operator-wagon-edit"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="poligon-travel-wagon-edit">Полигон курсирования:</label>
                            <select class="form-control" id="poligon-travel-wagon-edit"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="special-conditions-edit">Особые условия:</label>
                            <select class="form-control" id="special-conditions-edit"></select>
                        </div>
                    </div>
                </fieldset>
            </div>
</form>
    </div>
    <a href="#0" class="close cd-img-replace">Close</a>
</div> <!-- .cd-project-content -->
