@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSMORSResource.ecards_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @*<link rel="stylesheet" type="text/css" href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css">*@

    <link rel="stylesheet" type="text/css" href="~/Content/view/shared/filter-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsmors/electronic-cards.css">


}

@section scripts {
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/Moment")
    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_mors.js"></script> <!-- Class API ИДС " Управление собственным подвижным составом" -->

    <script src="~/Scripts/view/idsmors/electronic_cards.js"></script> <!--  -->
}
<input id="username" type="hidden" value="@User.Identity.Name" />
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            @*<input id="myInput1" type="text" />
                <input id="myInput2" type="text" />*@

        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-12">
                    @*<div class="alert alert-success fade show" id="global-success-alert"> <div id="global-message"></div> </div>*@
                    <table class='compact cell-border display' id="table-cards-wagons" style="width:100%;" cellpadding="0"></table>
                </div>
            </div>
        </div>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form id="filtr"></form>
        <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">Filters</a>
</main> <!-- cd-main-content -->

<div class="cd-wagon-content text-left">
    <div>
        <form id="wagon-content">
            <div class="alert alert-success" id="wagon-content-success-alert">
                @*<div id="wagon-content-message"></div>*@
            </div>
            <div id="tabs-controls">
                <ul>
                    <li><a href="#tabs-control-1" id="link-tabs-control-1"></a></li>
                    <li><a href="#tabs-control-2" id="link-tabs-control-2"></a></li>
                </ul>
                <div class="panel-control-top">
                    <div class="form-group row">
                        <div class="col-12 text-left">
                            @{ Html.RenderAction("ElectronicCardsEdit", "Home", new { area = "IDSMORS" }); }
                        </div>
                    </div>
                    <div class="row wagon-view">
                        <div class="form-group col-6">
                            <label for="num-wagon-view">@IDSMORSResource.num_wagon_label:</label>
                            <input type="number" class="form-control" id="num-wagon-view" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="row wagon-add">
                        <div class="form-group col-6">
                            <label for="num-wagon-edit" class="col-form-label">@IDSMORSResource.num_wagon_label:</label>
                            <div class="input-group">
                                <span class="input-group-append"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input type="number" class="form-control" id="num-wagon-edit" name="num-wagon-edit" required="required">
                                <span class=" glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabs-control-1">
                    <div class="wagon-info-view">
                        <fieldset>
                            <legend> @IDSMORSResource.legend_main_characteristics </legend>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="state-wagon-view">@IDSMORSResource.state_label:</label>
                                    <input type="text" class="form-control" id="state-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="station-wagon-view">@IDSMORSResource.station_label:</label>
                                    <input type="text" class="form-control" id="station-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="genus-wagon-view">@IDSMORSResource.genus_wagon_label:</label>
                                    <input type="text" class="form-control" id="genus-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="type-wagon-view">@IDSMORSResource.type_wagon_label:</label>
                                    <input type="text" class="form-control" id="type-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="code-model-wagon-view">Модель:</label>
                                    <input type="text" class="form-control" id="code-model-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="wagon-manufacturer-wagon-view">Завод изготовитель:</label>
                                    <input type="text" class="form-control" id="wagon-manufacturer-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="year-wagon-create-wagon-view">Год постройки:</label>
                                    <input type="text" class="form-control" id="year-wagon-create-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="carrying-capacity-wagon-view">Грузоподъемность,т:</label>
                                    <input type="text" class="form-control" id="carrying-capacity-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="tara-wagon-view">Тара, тонн:</label>
                                    <input type="text" class="form-control" id="tara-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="body-volume-wagon-view">Объем кузова:</label>
                                    <input type="text" class="form-control" id="body-volume-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="axis-length-wagon-view">Длина по осям,м:</label>
                                    <input type="text" class="form-control" id="axis-length-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="type-repairs-wagon-view">Тип планируемого ремонта:</label>
                                    <input type="text" class="form-control" id="type-repairs-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="date-type-repairs-wagon-view">Дата планируемого ремонта:</label>
                                    <input type="text" class="form-control" id="date-type-repairs-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend> Собственность </legend>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="type-ownership-wagon-view">Признак собственности:</label>
                                    <input type="text" class="form-control" id="type-ownership-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="owner-wagon-view">Собственник:</label>
                                    <input type="text" class="form-control" id="owner-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="date-registration-wagon-view">Дата последней регистрации:</label>
                                    <input type="text" class="form-control" id="date-registration-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="lessor-wagon-view">Арендодатель:</label>
                                    <input type="text" class="form-control" id="lessor-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="operator-wagon-view">Оперативное управление:</label>
                                    <input type="text" class="form-control" id="operator-wagon-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="poligon-travel-wagon-view">Полигон курсирования:</label>
                                    <input type="text" class="form-control" id="poligon-travel-wagon-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="special-conditions-view">Особые условия:</label>
                                    <input type="text" class="form-control" id="special-conditions-view" placeholder="" disabled>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    @*<form>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer013">First name</label>
                                    <input type="text" class="form-control is-valid" id="validationServer013" placeholder="First name"
                                           value="Mark" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer023">Last name</label>
                                    <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Last name"
                                           value="Otto" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServerUsername33">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend33">@</span>
                                        </div>
                                        <input type="text" class="form-control is-invalid" id="validationServerUsername33" placeholder="Username"
                                               aria-describedby="inputGroupPrepend33" required>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer033">City</label>
                                    <input type="text" class="form-control is-invalid" id="validationServer033" placeholder="City"
                                           required>
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer043">State</label>
                                    <input type="text" class="form-control is-invalid" id="validationServer043" placeholder="State"
                                           required>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer053">Zip</label>
                                    <input type="text" class="form-control is-invalid" id="validationServer053" placeholder="Zip"
                                           required>
                                    <div class="invalid-feedback">
                                        Please provide a valid zip.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck33" required>
                                    <label class="custom-control-label" for="invalidCheck33">Agree to terms and conditions</label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                            <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
                        </form>*@





                    <div class="wagon-info-edit">
                        <fieldset>
                            <legend> @IDSMORSResource.legend_main_characteristics </legend>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="state-wagon-edit" class="col-form-label">@IDSMORSResource.state_label:</label>
                                    <select class="form-control" id="state-wagon-edit" name="state-wagon-edit" required="required"></select>
                                    <div class="invalid-feedback">
                                        Укажите государство собственника
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="station-wagon-edit" class="col-form-label">@IDSMORSResource.station_label:</label>
                                    <input type="text" class="form-control" id="station-wagon-edit" placeholder="" name="station-wagon-edit">
                                    <div class="invalid-feedback">
                                        Код станции не найден в справочнике.
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="genus-wagon-edit" class="col-form-label">Род подвижного сотава:</label>
                                    <select class="form-control" id="genus-wagon-edit" name="genus-wagon-edit" required="required"></select>
                                    <div class="invalid-feedback">
                                        Выберите род подвижного состава
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="type-wagon-edit" class="col-form-label">Тип подвижного сотава:</label>
                                    <select class="form-control" id="type-wagon-edit" name="type-wagon-edit" required=""></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="code-model-wagon-edit" class="col-form-label">Модель:</label>
                                    <input type="text" class="form-control" id="code-model-wagon-edit" name="code-model-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">
                                        Модель вагона не найдена в справочнике.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="wagon-manufacturer-wagon-edit" class="col-form-label">Завод изготовитель:</label>
                                    <select class="form-control" id="wagon-manufacturer-wagon-edit" name="wagon-manufacturer-wagon-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="year-wagon-create-wagon-edit" class="col-form-label">Год постройки:</label>
                                    <input type="number" class="form-control" id="year-wagon-create-wagon-edit" name="year-wagon-create-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="carrying-capacity-wagon-edit" class="col-form-label">Грузоподъемность,т:</label>
                                    <input type="number" class="form-control" id="carrying-capacity-wagon-edit" placeholder="" name="carrying-capacity-wagon-edit" pattern="\d+(\.\d{1})?">
                                    <div class="invalid-feedback">
                                        Грузоподъемность должна быть в диапазоне от 60.0 до 80.0 тон.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="tara-wagon-edit" class="col-form-label">Тара, тонн:</label>
                                    <input type="number" class="form-control" id="tara-wagon-edit" name="tara-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">
                                        Тара должна быть в диапазоне от 20.0 до 30.0 тон.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="body-volume-wagon-edit" class="col-form-label">Объем кузова:</label>
                                    <input type="number" class="form-control" id="body-volume-wagon-edit" name="body-volume-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">
                                        Объем кузова должен быть в диапазоне от 38.0 до 94.0 м.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="axis-length-wagon-edit" class="col-form-label">Длина по осям,м:</label>
                                    <input type="number" class="form-control" id="axis-length-wagon-edit" name="axis-length-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">
                                        Длина по осям должна быть в диапазоне от 13.0 до 15.0 м.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="type-repairs-wagon-edit" class="col-form-label">Тип планируемого ремонта:</label>
                                    <select class="form-control" id="type-repairs-wagon-edit" name="type-repairs-wagon-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="date-type-repairs-wagon-edit" class="col-form-label">Дата планируемого ремонта:</label>
                                    <input type="datetime" class="form-control" id="date-type-repairs-wagon-edit" name="date-type-repairs-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>

                            @*<div class="form-row">
                                    <div class="col-md-6 mb-3">

                                        <div class="invalid-feedback">

                                        </div>
                                    </div>
                                </div>*@

                        </fieldset>
                        <fieldset>
                            <legend> Собственность </legend>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="type-ownership-wagon-edit" class="col-form-label">Признак собственности:</label>
                                    <select class="form-control" id="type-ownership-wagon-edit" name="type-ownership-wagon-edit"></select>
                                    <div class="invalid-feedback">
                                        Укажите признак собственности
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="owner-wagon-edit" class="col-form-label">Собственник:</label>
                                    <select class="form-control" id="owner-wagon-edit" name="owner-wagon-edit"></select>
                                    <div class="invalid-feedback">
                                        Укажите собственника
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="date-registration-wagon-edit" class="col-form-label">Дата последней регистрации:</label>
                                    <input type="date" class="form-control" id="date-registration-wagon-edit" name="date-registration-wagon-edit" placeholder="">
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="lessor-wagon-edit" class="col-form-label">Арендодатель:</label>
                                    <select class="form-control" id="lessor-wagon-edit" name="lessor-wagon-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="operator-wagon-edit" class="col-form-label">Оперативное управление:</label>
                                    <select class="form-control" id="operator-wagon-edit" name="operator-wagon-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="poligon-travel-wagon-edit" class="col-form-label">Полигон курсирования:</label>
                                    <select class="form-control" id="poligon-travel-wagon-edit" name="poligon-travel-wagon-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="special-conditions-edit" class="col-form-label">Особые условия:</label>
                                    <select class="form-control" id="special-conditions-edit" name="special-conditions-edit"></select>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="tabs-control-2">
                    <div class="wagon-repairs-view">
                        <fieldset>
                            <legend> ДЕПОвский </legend>
                            <div class="form-row">
                                <div class="col-md-12 mb-3 text-left">
                                    @{ Html.RenderAction("ElectronicCardsEditDEPO", "Home", new { area = "IDSMORS" }); }
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4 mb-3">
                                    <label for="depo-date-wagons-repairs-view">Дата:</label>
                                    <input type="text" class="form-control" id="depo-date-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="depo-internal-railroad-wagons-repairs-view">Дорога:</label>
                                    <input type="text" class="form-control" id="depo-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="depo-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                    <input type="text" class="form-control" id="depo-code-depo-wagons-repairs-view" placeholder="" disabled>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend> Капитальный </legend>
                            <div class="form-row">
                                <div class="col-md-12 mb-3  text-left">
                                    @{ Html.RenderAction("ElectronicCardsEditKap", "Home", new { area = "IDSMORS" }); }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="kap-date-wagons-repairs-view">Дата:</label>
                                    <input type="text" class="form-control" id="kap-date-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="kap-internal-railroad-wagons-repairs-view">Дорога:</label>
                                    <input type="text" class="form-control" id="kap-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="kap-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                    <input type="text" class="form-control" id="kap-code-depo-wagons-repairs-view" placeholder="" disabled>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend> Текущий </legend>
                            <div class="form-row">
                                <div class="col-md-12 mb-3  text-left">
                                    @{ Html.RenderAction("ElectronicCardsEditCur", "Home", new { area = "IDSMORS" }); }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="cur-date-wagons-repairs-view">Дата:</label>
                                    <input type="text" class="form-control" id="cur-date-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cur-internal-railroad-wagons-repairs-view">Дорога:</label>
                                    <input type="text" class="form-control" id="cur-internal-railroad-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cur-code-depo-wagons-repairs-view">ВРП(депо):</label>
                                    <input type="text" class="form-control" id="cur-code-depo-wagons-repairs-view" placeholder="" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="cur-type-wagons-repairs-view">Вид ремонта:</label>
                                    <input type="text" class="form-control" id="cur-type-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cur-date-non-working-wagons-repairs-view">Дата постановки в нер. парк:</label>
                                    <input type="text" class="form-control" id="cur-date-non-working-wagons-repairs-view" placeholder="" disabled>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cur-condition-wagons-repairs-view">Неисправность:</label>
                                    <input type="text" class="form-control" id="cur-condition-wagons-repairs-view" placeholder="" disabled>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="wagon-repairs-edit">
                        <div class="form-row">
                            <div class="col-md-12 mb-3  text-left">
                                <button type="button" id="bt-repairs-save" class="btn btn-primary wagon-repairs-edit">Сохранить</button>
                                <button type="button" id="bt-repairs-cancel" class="btn btn-primary wagon-repairs-edit">Отмена</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="date-wagons-repairs-edit" class="col-form-label">Дата:</label>
                                <input type="text" class="form-control" id="date-wagons-repairs-edit" name="date-wagons-repairs-edit" placeholder="">
                                <div class="invalid-feedback">

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="internal-railroad-wagons-repairs-edit" class="col-form-label">Дорога:</label>
                                <select class="form-control" id="internal-railroad-wagons-repairs-edit" name="internal-railroad-wagons-repairs-edit" required="required"></select>
                                <div class="invalid-feedback">

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="code-depo-wagons-repairs-edit" class="col-form-label">ВРП(депо):</label>
                                <select class="form-control" id="code-depo-wagons-repairs-edit" name="code-depo-wagons-repairs-edit" required="required"></select>
                                <div class="invalid-feedback">

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="type-wagons-repairs-edit" class="col-form-label">Вид ремонта:</label>
                                <select class="form-control" id="type-wagons-repairs-edit" name="type-wagons-repairs-edit" required="required"></select>
                                <div class="invalid-feedback">
                                    Укажите вид ремонта
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="date-non-working-wagons-repairs-edit" class="col-form-label">Дата постановки в нер. парк:</label>
                                <input type="text" class="form-control" id="date-non-working-wagons-repairs-edit" name="date-non-working-wagons-repairs-edit" placeholder="">
                                <div class="invalid-feedback">

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="condition-wagons-repairs-edit" class="col-form-label">Неисправность:</label>
                                <select class="form-control" id="condition-wagons-repairs-edit" name="condition-wagons-repairs-edit"></select>
                                <div class="invalid-feedback">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="#0" class="close cd-img-replace">Close</a>
</div> <!-- .cd-project-content -->

<div id="dialog-confirm" title="Empty the recycle bin?">
    <p id="dialog-confirm-text">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    </p>
</div>
