@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = IDSReportResource.system_idsreport_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link href="~/Content/module/report/view_td_report.css" rel="stylesheet">
    <link href="~/Content/module/report/table_td_report.css" rel="stylesheet" />
    @* <link href="~/Content/view/idsreport/main_td_report.css" rel="stylesheet">*@
    <!-- Resources -->

}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")
    <script src="~/Scripts/view/shared/common.js"></script>                 <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/api/shared.js"></script>
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>
    <script src="~/Scripts/module/shared/chart_amcharts.js"></script>
    <script src="~/Scripts/module/report/table_td_report.js"></script>
    <script src="~/Scripts/module/report/view_td_report.js"></script>
    <script src="~/Scripts/view/idsreport/main_td_report.js"></script>

    <script>
        var url_incoming = '@Url.Action("Incoming", "Home", new { area = "IDSRWT" })';
        var url_outgoing = '@Url.Action("Outgoing", "Home", new { area = "IDSRWT" })';
    </script>

    <script src="~/Scripts/amcharts5/index.js"></script>
    <script src="~/Scripts/amcharts5/percent.js"></script>
    <script src="~/Scripts/amcharts5/xy.js"></script>
    <script src="~/Scripts/amcharts5/radar.js"></script>
    <script src="~/Scripts/amcharts5/hierarchy.js"></script>
    <script src="~/Scripts/amcharts5/themes/Animated.js"></script>

}

@*<select class="selectpicker" multiple data-live-search="true">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select id="example-getting-started" multiple="multiple">
        <option value="cheese">Cheese</option>
        <option value="tomatoes">Tomatoes</option>
        <option value="mozarella">Mozzarella</option>
        <option value="mushrooms">Mushrooms</option>
        <option value="pepperoni">Pepperoni</option>
        <option value="onions">Onions</option>
    </select>*@
<label id="test1"></label>
<label id="test2"></label>
<label id="test3"></label>
<div id="report">

</div>
