@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSRWTResource.incoming_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/incoming.css">
    <!-- модули -->
    <link href="~/Content/module/shared/form_detali.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/form_incoming_cars_detali.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/form_hi_incoming_sostav.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/view_epd.css" rel="stylesheet" />
    
    <link href="~/Content/module/wsd/table_incoming_sostav.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/table_incoming_cars.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/view_incoming_cars.css" rel="stylesheet" />

}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script>                 <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/module/shared/modal_confirm_form.js"></script>   <!-- Форма сообщений подтверждения -->
    <script src="~/Scripts/module/shared/epd.js"></script>                  <!-- Библиотека методов для работы ЭПД УЗ -->
    <script src="~/Scripts/api/shared.js"></script>                         <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/us_direct.js"></script>
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>
    <script src="~/Scripts/module/shared/form_detali.js"></script>
    <script src="~/Scripts/module/wsd/form_hi_incoming_sostav.js"></script>
    <script src="~/Scripts/module/wsd/view_epd.js"></script>                        <!-- Информация по ЭПД -->
    <script src="~/Scripts/module/wsd/form_incoming_cars_detali.js"></script>
    <script src="~/Scripts/module/wsd/table_incoming_sostav.js"></script>
    <script src="~/Scripts/module/wsd/table_incoming_cars.js"></script>
    <script src="~/Scripts/module/wsd/view_incoming_cars.js"></script>

    <script src="~/Scripts/view/idsrwt/main_incoming.js"></script> <!--  -->
}

<input id="username" type="hidden" value="@User.Identity.Name" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb-incoming" aria-controls="nb-incoming" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="nb-incoming">
        </div>
    </div>
</nav>
@*<div><img width="100%" height="100%" src="~/Images/8m.png" /></div>*@
<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">Поезда по прибытию</div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-12">
                            <div id="incoming-sostav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
