@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSRWTResource.outgoing_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/outgoing.css">
    <!-- модули -->
    <link href="~/Content/module/shared/form_detali.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/view_outgoing_cars.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/table_outgoing_cars.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/table_outgoing_sostav.css" rel="stylesheet" /><!-- CSS стили модуля "Отправляемые составы" -->
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/module/shared/modal_confirm_form.js"></script> <!-- Форма сообщений подтверждения -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>

    <!--<script src="~/Scripts/api/ids_sap.js"></script>--> <!-- Class API SAP функции для работы с САП -->
    <!--<script src="~/Scripts/api/uz_directory.js"></script>--> <!-- Class API УЗ Справочники -->
    <!--<script src="~/Scripts/api/ids_directory.js"></script>--> <!-- Class API ИДС Справочники -->
    <!--<script src="~/Scripts/api/metrans.js"></script>--> <!-- Class API МЕТРАНС -->
    <!--<script src="~/Scripts/api/ids_rwt.js"></script>--> <!-- Class API ИДС Прием вагонов -->
    <!--<script src="~/Scripts/api/ids_transfer.js"></script>--> <!-- Class API ИДС Переносы -->
    <!--<script src="~/Scripts/api/uz_sms.js"></script>--> <!-- Class API Работа с модулем согласования -->
    <!--<script src="~/Scripts/plugins/pl_dialog_confirm.js"></script>--> <!-- Плагин -->

    <script src="~/Scripts/module/shared/form_detali.js"></script>
    <script src="~/Scripts/module/wsd/view_outgoing_cars.js"></script>
    <script src="~/Scripts/module/wsd/table_outgoing_cars.js"></script>
    <script src="~/Scripts/module/wsd/table_outgoing_sostav.js"></script>    <!-- Модуль "Отправляемые составы" -->

    <script src="~/Scripts/view/idsrwt/main_outgoing.js"></script> <!--  -->
}


<input id="username" type="hidden" value="@User.Identity.Name" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb-outgoing" aria-controls="nb-outgoing" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="nb-outgoing">
        </div>
    </div>
</nav>
@*<div><img width="100%" height="100%" src="~/Images/8m.png" /></div>*@
<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-dark mb-3">
                <div class="card-header bg-secondary text-white">Поезда по отправлению</div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-12">
                            <div id="outgoing-sostav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

