@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = "ТЕСТ";
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    @*<link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/wsd.css">*@
    <link href="~/Content/module/cblist_station.css" rel="stylesheet" />
    <link href="~/Content/module/table_tree_way.css" rel="stylesheet" />

    <link href="~/Content/module/table_dir_way.css" rel="stylesheet" />
    <link href="~/Content/module/form_edit_table.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_global.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_sap.js"></script> <!-- Class API SAP функции для работы с САП -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_rwt.js"></script> <!-- Class API ИДС Прием вагонов -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/uz_sms.js"></script> <!-- Class API Работа с модулем согласования -->


    <script src="~/Scripts/module/cblist_station.js"></script>
    <script src="~/Scripts/module/table_tree_way.js"></script>

    <script src="~/Scripts/module/modal_confirm_form.js"></script> <!-- Форма сообщений подтверждения -->
    <script src="~/Scripts/module/form_validation.js"></script>
    <script src="~/Scripts/module/modal_edit_form.js"></script> <!-- Форма для правки -->

    <script src="~/Scripts/module/table_dir_way.js"></script>


    <script src="~/Scripts/plugins/pl_dialog_confirm.js"></script> <!-- Плагин -->
    <script src="~/Scripts/view/idsrwt/test.js"></script>

}
<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="dialog-confirm"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Операции
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Операция-1</a>
                        <a class="dropdown-item" href="#">Операция-2</a>
                        <a class="dropdown-item" href="#">Операция-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Отчет-1</a>
                        <a class="dropdown-item" href="#">Отчет-2</a>
                        <a class="dropdown-item" href="#">Отчет-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link curent-info" href="#">
                        На <label id="curent_date"></label> подключилось : <label id="client_count"></label> клиентов.
                    </a>

                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<!--<div class="row">
    <div class="col-xl-12">
        <form id="test" class="needs-validation" novalidate>
            <div class="alert" id="test-alert"></div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" name="validationCustom01" placeholder="First name" value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" name="validationCustom02" placeholder="Last name" value="Otto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">-->
@*<span class="input-group-text" id="inputGroupPrepend">@</span>*@
<!--</div>
                        <input type="text" class="form-control" id="validationCustomUsername" name="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom03">City</label>
                    <input type="text" class="form-control" id="validationCustom03" name="validationCustom03" placeholder="City" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">State</label>
                    <input type="text" class="form-control" id="validationCustom04" name="validationCustom04" placeholder="State" required>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom05">Zip</label>
                    <input type="text" class="form-control" id="validationCustom05" name="validationCustom05" placeholder="Zip" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="invalidCheck" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</div>-->

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-outline-secondary" title="Принять состав на станцию" id="arrival">Приб.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав со станции" id="sending">Отпр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Дислокация вагонов по станции" id="dislocation">Дисл.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Роспуск вагонов" id="dissolution">Росп.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Выгр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Погр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Весы.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Предоставить состав для сдачи на дорогу" id="provide">Пред.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав на станцию УЗ" id="sending_uz">Отпр УЗ.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-secondary" title="">Авто</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Ручная</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Реверс</button>
                                        </div>
                                        @*<div class="btn-group" role="group" aria-label="Third group">

                                            </div>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card border-primary">
                                <div class="card-header">
                                    <div id="dds-station"></div>
                                    @*<div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="sel_station" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                <i class="far fa-calendar-check"></i>
                                            </button>
                                            <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="sel_station">

                                                <li>
                                                    <label>
                                                        <input type="checkbox"> Cheese
                                                    </label>
                                                </li>

                                                <li>
                                                    <label>
                                                        <input type="checkbox"> Pepperoni
                                                    </label>
                                                </li>

                                                <li>
                                                    <label>
                                                        <input type="checkbox"> Peppers
                                                    </label>
                                                </li>

                                            </ul>
                                        </div>*@
                                    Дерево путей
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div id="tree-way"></div>
                                            @*<table id="tree-way" class="table table-hover"></table>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card border-info">
                                <div class="card-header">Перечень вагонов</div>
                                <div class="card-body" style="font-size:13px">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div id="ways"></div>
                                            @*<table id="wagons-way" class="display compact table-striped table-hover" style="width:100%;table-layout: fixed"></table>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark"></div>
            </div>
        </div>
    </div>
</div>



@*Button trigger modal*@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#em-dir-way">
    Launch demo modal
</button>


@*Modal*@
<div class="modal fade" id="em-dir-way" tabindex="-1" aria-labelledby="ml-dir-way" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="ml-dir-way">VVV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-xl-12 mb-1">
                            <div class="alert" id="modal-alert"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-12 mb-1 text-left">
                            <label for="ref_unit" class="col-form-label">Ремонтируемый агрегат:</label>
                            <select class="form-control" id="ref_unit" name="ref_unit" required></select>
                            <input type="datetime" />
                            <div class="invalid-feedback">
                                Укажите агрегат!
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-xl-6 mb-1">
                            @*<div class="form-group">*@
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                <label class="form-check-label" for="invalidCheck2">
                                    Agree to terms and conditions
                                </label>
                            </div>
                            @*</div>*@
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






