@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = "ТЕСТ";
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/wsd.css">
    @*<link href="~/Content/module/cblist_station.css" rel="stylesheet" />
        <link href="~/Content/module/table_tree_way.css" rel="stylesheet" />

        <link href="~/Content/module/directory/table_dir_way.css" rel="stylesheet" />
        <link href="~/Content/module/shared/modal_edit_form.css" rel="stylesheet" />
        <link href="~/Content/module/directory/table_dir_park_ways.css" rel="stylesheet" />
        <link href="~/Content/module/directory/table_dir_park_station.css" rel="stylesheet" />*@
    <link href="~/Content/module/wsd/table_cars_operation.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/operation_send.css" rel="stylesheet" />


    <link href="~/Content/module/wsd/view_send_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция отправить" -->
    <link href="~/Content/module/wsd/table_cars_way.css" rel="stylesheet" /><!-- CSS стили модуля "Вагоны на выбранном пути" -->

    <link href="~/Content/module/wsd/table_cars_outer_way.css" rel="stylesheet" /><!-- CSS стили модуля "Вагоны на перегоне" -->
    <link href="~/Content/module/wsd/table_sostav_outer_way.css" rel="stylesheet" /><!-- CSS стили модуля "Составы на перегоне" -->
    <link href="~/Content/module/wsd/view_arrival_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция принять" -->
    <link href="~/Content/module/wsd/view_return_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция отмена отправки или возврат" -->

    <link href="~/Content/module/wsd/view_report_remainder_cars.css" rel="stylesheet" /> <!-- CSS стили модуля "Отчет Остаток вагонов на АМКР" -->
    <link href="~/Content/module/wsd/view_history_operation_arrival.css" rel="stylesheet" /><!-- CSS стили модуля "История операций принять на станцию" -->

    <link href="~/Content/module/wsd/table_outgoing_sostav.css" rel="stylesheet" /><!-- CSS стили модуля "Отправляемые составы" -->

    <style>
        .table-directory {
            font-size: 0.8rem;
        }
    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <!--<script src="~/Scripts/api/ids_global.js"></script>--> <!-- Общая библиотека методов API -->
    <!--<script src="~/Scripts/api/ids_sap.js"></script>--> <!-- Class API SAP функции для работы с САП -->
    <!--<script src="~/Scripts/api/uz_directory.js"></script>--> <!-- Class API УЗ Справочники -->
    <!--<script src="~/Scripts/api/ids_directory.js"></script>--> <!-- Class API ИДС Справочники -->
    <!--<script src="~/Scripts/api/metrans.js"></script>--> <!-- Class API МЕТРАНС -->
    <!--<script src="~/Scripts/api/ids_rwt.js"></script>--> <!-- Class API ИДС Прием вагонов -->
    <!--<script src="~/Scripts/api/ids_transfer.js"></script>--> <!-- Class API ИДС Переносы -->
    <!--<script src="~/Scripts/api/uz_sms.js"></script>--> <!-- Class API Работа с модулем согласования -->
    @*

        <script src="~/Scripts/api/ids_direct.js"></script>

        <script src="~/Scripts/module/cblist_station.js"></script>
        <script src="~/Scripts/module/table_tree_way.js"></script>*@

    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/module/shared/modal_confirm_form.js"></script> <!-- Форма сообщений подтверждения -->
    <!--<script src="~/Scripts/module/shared/form_validation.js"></script>
    <script src="~/Scripts/module/shared/modal_edit_form.js"></script>-->
    <!-- Форма для правки -->
    <!--<script src="~/Scripts/module/directory/table_dir_way.js"></script>
    <script src="~/Scripts/module/directory/table_dir_park_ways.js"></script>
    <script src="~/Scripts/module/directory/table_dir_park_station.js"></script>-->
    <!--<script src="~/Scripts/plugins/pl_dialog_confirm.js"></script>--> <!-- Плагин -->

    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>

    <script src="~/Scripts/module/wsd/table_cars_operation.js"></script>
    <script src="~/Scripts/module/wsd/operation_send.js"></script>

    <script src="~/Scripts/module/wsd/table_cars_way.js"></script>          <!-- Модуль "Вагоны на выбранном пути" -->
    <script src="~/Scripts/module/wsd/table_sostav_outer_way.js"></script>  <!-- Модуль "Составы на выбранном перегоне" -->
    <script src="~/Scripts/module/wsd/table_cars_outer_way.js"></script>    <!-- Модуль "Вагоны на выбранном перегоне" -->
    <script src="~/Scripts/module/wsd/view_arrival_cars.js"></script>       <!-- Модуль "Операция принять" -->
    <script src="~/Scripts/module/wsd/view_send_cars.js"></script>          <!-- Модуль "Операция отправить" -->
    <script src="~/Scripts/module/wsd/view_return_cars.js"></script>        <!-- Модуль "Операция возврат отправить или отмена" -->

    <script src="~/Scripts/module/wsd/view_history_operation_arrival.js"></script>  <!-- Модуль "История операций принять" -->

    <script src="~/Scripts/module/wsd/view_report_remainder_cars.js"></script>    <!-- Модуль "Отчет Остаток вагонов на АМКР" -->

    <script src="~/Scripts/module/wsd/table_total_balance.js"></script>

    <script src="~/Scripts/module/wsd/table_outgoing_sostav.js"></script>    <!-- Модуль "Отправляемые составы" -->


    <script src="~/Scripts/view/idsrwt/test.js"></script>

}
<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="dialog-confirm"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Операции
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Операция-1</a>
                        <a class="dropdown-item" href="#">Операция-2</a>
                        <a class="dropdown-item" href="#">Операция-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Отчет-1</a>
                        <a class="dropdown-item" href="#">Отчет-2</a>
                        <a class="dropdown-item" href="#">Отчет-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link curent-info" href="#">
                        На <label id="curent_date"></label> подключилось : <label id="client_count"></label> клиентов.
                    </a>

                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="external operations group">
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав со станции АМКР" id="send-cars">Отпр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Принять состав на станцию АМКР" id="arrival-cars">Приб.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Вернуть(отменить отправку) вагонов состава отправленного на станции АМКР" id="return-cars">Возв.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="internal operations  group">
                                            <button type="button" class="btn btn-outline-secondary" title="Дислокация вагонов по станции" id="dislocation">Дисл.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Роспуск вагонов" id="dissolution">Росп.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Выгр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Погр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Весы.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="uz operations group">
                                            <button type="button" class="btn btn-outline-secondary" title="Предоставить состав для сдачи на дорогу" id="provide">Пред.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав на станцию УЗ" id="sending_uz">Отпр УЗ.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-secondary" title="">Авто</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Ручная</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Реверс</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <div class="input-group w-75">
                                                <input type="text" id="find-num-wagon" class="form-control" placeholder="Номер вагона" aria-label="" aria-describedby="">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="find-wagon">Найти</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    @*<div id="remainder">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>*@

                    <div id="outgoing-sostav"></div>
                    @*<div id="remainder-cars"></div>*@
                    <!--<div class="row">
                        <div class="col-xl-2">
                            <div class="card border-primary">
                                <div class="card-header">
                                    <div id="dds-station"></div>
                                    Дерево путей
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12 text-left">
                                            <form>
                                                <div class="form-group">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="outer_cars">
                                                        <label class="custom-control-label" for="outer_cars">Внешние стороние вагоны</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="amkr_outer_cars">
                                                        <label class="custom-control-label" for="amkr_outer_cars">Внешние вагоны АМКР</label>
                                                    </div>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="amkr_cars">
                                                        <label class="custom-control-label" for="amkr_cars">Внутри-заводские вагоны</label>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6 mb-1">
                                                        <label for="select_day">Свыше суток:</label>
                                                        <input type="number" min="1" max="1000" class="form-control form-control-sm" id="select_day" placeholder="0..1000">
                                                    </div>
                                                    <div class="col-md-6 mb-1">
                                                        <label for="select_top">Топ:</label>
                                                        <input type="number" min="1" max="1000" class="form-control form-control-sm" id="select_top" placeholder="0..100">
                                                    </div>
                                                </div>

                                                <div id="select-width" class="p-1" style="background-color:antiquewhite;">
                                                    <div class="form-group p-1" style="border:1px solid #808080">
                                                        <button type="button" class="close" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <label for="operator">Оператор:</label>
                                                        <select id="operator" class="custom-select custom-select-sm" required>
                                                            <option value="">Open this select menu</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group p-1" style="border:1px solid #808080">
                                                        <button type="button" class="close" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <label for="limit">Ограничение:</label>
                                                        <select id="limit" class="custom-select custom-select-sm" required>
                                                            <option value="">Open this select menu</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="form-group p-1">
                                                    <label for="where">ДОБАВИТЬ ВЫБОРКУ:</label>
                                                    <div class="input-group">
                                                        <select id="where" class="form-control form-control-sm" placeholder="добавить выборку" required>
                                                            <option value="1">Оператор</option>
                                                            <option value="2">Ограничение</option>
                                                            <option value="3">Груз по прибытию</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-sm btn-outline-secondary" type="button">
                                                                <i class="fas fa-plus-circle" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>-->
                    <!--@*<div class="row">
                            <div class="col-xl-12">
                                <div id="tree-way"></div>
                            </div>
                        </div>*@
                    @*<div class="row">
                            <div class="col-xl-12">
                                <div id="total-balance"></div>
                            </div>
                        </div>*@-->
                    <!--</div>
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="card border-info">
                                <div class="card-header">Перечень вагонов</div>
                                <div class="card-body" style="font-size:13px">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div id="wagons"></div>
                                            <table id="wagons-way" class="display compact table-striped table-hover" style="width:100%;table-layout: fixed"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="card-footer bg-transparent border-dark"></div>
            </div>
        </div>
    </div>
</div>