@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = "ТЕСТ";
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/wsd.css">
    @*<link href="~/Content/module/cblist_station.css" rel="stylesheet" />
        <link href="~/Content/module/table_tree_way.css" rel="stylesheet" />

        <link href="~/Content/module/directory/table_dir_way.css" rel="stylesheet" />

        <link href="~/Content/module/directory/table_dir_park_ways.css" rel="stylesheet" />
        <link href="~/Content/module/directory/table_dir_park_station.css" rel="stylesheet" />*@

    <link href="~/Content/module/wsd/table_cars_operation.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/operation_send.css" rel="stylesheet" />
    <link href="~/Content/module/shared/modal_edit_form.css" rel="stylesheet" />

    <link href="~/Content/module/wsd/view_send_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция отправить" -->
    <link href="~/Content/module/wsd/table_cars_way.css" rel="stylesheet" /><!-- CSS стили модуля "Вагоны на выбранном пути" -->

    <link href="~/Content/module/wsd/table_cars_outer_way.css" rel="stylesheet" /><!-- CSS стили модуля "Вагоны на перегоне" -->
    <link href="~/Content/module/wsd/table_sostav_outer_way.css" rel="stylesheet" /><!-- CSS стили модуля "Составы на перегоне" -->
    <link href="~/Content/module/wsd/view_arrival_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция принять" -->
    <link href="~/Content/module/wsd/view_return_cars.css" rel="stylesheet" /><!-- CSS стили модуля "Операция отмена отправки или возврат" -->

    <link href="~/Content/module/wsd/view_report_remainder_cars.css" rel="stylesheet" /> <!-- CSS стили модуля "Отчет Остаток вагонов на АМКР" -->
    <link href="~/Content/module/wsd/view_history_operation_arrival.css" rel="stylesheet" /><!-- CSS стили модуля "История операций принять на станцию" -->

    <link href="~/Content/module/wsd/form_outgoing_cars_detali.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/form_ho_outgoing_sostav.css" rel="stylesheet" />
    <link href="~/Content/module/wsd/table_outgoing_sostav.css" rel="stylesheet" /><!-- CSS стили модуля "Отправляемые составы" -->
    <link href="~/Content/module/wsd/table_outgoing_cars.css" rel="stylesheet" />
    <style>
        .table-directory {
            font-size: 0.8rem;
        }
    </style>
}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <!--<script src="~/Scripts/api/ids_global.js"></script>--> <!-- Общая библиотека методов API -->
    <!--<script src="~/Scripts/api/ids_sap.js"></script>--> <!-- Class API SAP функции для работы с САП -->
    <!--<script src="~/Scripts/api/uz_directory.js"></script>--> <!-- Class API УЗ Справочники -->
    <!--<script src="~/Scripts/api/ids_directory.js"></script>--> <!-- Class API ИДС Справочники -->
    <!--<script src="~/Scripts/api/metrans.js"></script>--> <!-- Class API МЕТРАНС -->
    <!--<script src="~/Scripts/api/ids_rwt.js"></script>--> <!-- Class API ИДС Прием вагонов -->
    <!--<script src="~/Scripts/api/ids_transfer.js"></script>--> <!-- Class API ИДС Переносы -->
    <!--<script src="~/Scripts/api/uz_sms.js"></script>--> <!-- Class API Работа с модулем согласования -->
    @*

        <script src="~/Scripts/api/ids_direct.js"></script>

        <script src="~/Scripts/module/cblist_station.js"></script>
        <script src="~/Scripts/module/table_tree_way.js"></script>*@

    <script src="~/Scripts/module/shared/common.js"></script>
    <script src="~/Scripts/module/shared/modal_confirm_form.js"></script> <!-- Форма сообщений подтверждения -->
    <!--<script src="~/Scripts/module/shared/form_validation.js"></script>
    <script src="~/Scripts/module/shared/modal_edit_form.js"></script>-->
    <!-- Форма для правки -->
    <!--<script src="~/Scripts/module/directory/table_dir_way.js"></script>
    <script src="~/Scripts/module/directory/table_dir_park_ways.js"></script>
    <script src="~/Scripts/module/directory/table_dir_park_station.js"></script>-->
    <!--<script src="~/Scripts/plugins/pl_dialog_confirm.js"></script>--> <!-- Плагин -->

    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_direct.js"></script>
    <script src="~/Scripts/api/ids_wsd.js"></script>

    <script src="~/Scripts/module/wsd/table_cars_operation.js"></script>
    <script src="~/Scripts/module/wsd/operation_send.js"></script>

    <script src="~/Scripts/module/wsd/table_cars_way.js"></script>          <!-- Модуль "Вагоны на выбранном пути" -->
    <script src="~/Scripts/module/wsd/table_sostav_outer_way.js"></script>  <!-- Модуль "Составы на выбранном перегоне" -->
    <script src="~/Scripts/module/wsd/table_cars_outer_way.js"></script>    <!-- Модуль "Вагоны на выбранном перегоне" -->
    <script src="~/Scripts/module/wsd/view_arrival_cars.js"></script>       <!-- Модуль "Операция принять" -->
    <script src="~/Scripts/module/wsd/view_send_cars.js"></script>          <!-- Модуль "Операция отправить" -->
    <script src="~/Scripts/module/wsd/view_return_cars.js"></script>        <!-- Модуль "Операция возврат отправить или отмена" -->

    <script src="~/Scripts/module/wsd/view_history_operation_arrival.js"></script>  <!-- Модуль "История операций принять" -->

    <script src="~/Scripts/module/wsd/view_report_remainder_cars.js"></script>    <!-- Модуль "Отчет Остаток вагонов на АМКР" -->

    <script src="~/Scripts/module/wsd/table_total_balance.js"></script>

    <script src="~/Scripts/module/wsd/table_outgoing_sostav.js"></script>    <!-- Модуль "Отправляемые составы" -->

    <script src="~/Scripts/module/wsd/form_outgoing_cars_detali.js"></script>
    <script src="~/Scripts/module/wsd/form_ho_outgoing_sostav.js"></script>
    <script src="~/Scripts/module/wsd/table_outgoing_cars.js"></script>

    <script src="~/Scripts/view/idsrwt/test.js"></script>

}
<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="dialog-confirm"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Операции
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Операция-1</a>
                        <a class="dropdown-item" href="#">Операция-2</a>
                        <a class="dropdown-item" href="#">Операция-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Отчет-1</a>
                        <a class="dropdown-item" href="#">Отчет-2</a>
                        <a class="dropdown-item" href="#">Отчет-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link curent-info" href="#">
                        На <label id="curent_date"></label> подключилось : <label id="client_count"></label> клиентов.
                    </a>

                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="external operations group">
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав со станции АМКР" id="send-cars">Отпр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Принять состав на станцию АМКР" id="arrival-cars">Приб.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Вернуть(отменить отправку) вагонов состава отправленного на станции АМКР" id="return-cars">Возв.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="internal operations  group">
                                            <button type="button" class="btn btn-outline-secondary" title="Дислокация вагонов по станции" id="dislocation">Дисл.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Роспуск вагонов" id="dissolution">Росп.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Выгр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Погр.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Весы.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="uz operations group">
                                            <button type="button" class="btn btn-outline-secondary" title="Предоставить состав для сдачи на дорогу" id="provide">Пред.</button>
                                            <button type="button" class="btn btn-outline-secondary" title="Отправить состав на станцию УЗ" id="sending_uz">Отпр УЗ.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-secondary" title="">Авто</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Ручная</button>
                                            <button type="button" class="btn btn-outline-secondary" title="">Реверс</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <div class="input-group w-75">
                                                <input type="text" id="find-num-wagon" class="form-control" placeholder="Номер вагона" aria-label="" aria-describedby="">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="find-wagon">Найти</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white" id="sostav-info">
                        </div>
                        <div class="card-body">
                            <div class="alert" id="car-detali-alert"></div>
                            <div class="form-row">
                                <div class="col-xl-5 mb-1">
                                    <div class="card border-success" id="card-arrived-cars">
                                        <div class="card-header">
                                            Отправленные вагоны
                                        </div>
                                        <div class="card-body">
                                            <div id="outgoing-cars">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-1">
                                    <div class="card border-warning" id="card-car-info">
                                        <div class="card-header">Информация о вагоне</div>
                                        <div class="card-body text-dark">
                                            <div id="outgoing-cars-detali">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1 mb-1">
                                    <div class="card border-primary" id="card-not-arrived-cars">
                                        <div class="card-header">
                                            Вагоны
                                        </div>
                                        <div class="card-body text-primary" style="padding: 0.5rem;">
                                            <div class="list-group" id="list-cars-not-outgoing" role="tablist">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body text-dark pl-3 pr-3">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white" id="sostav-info">
                        </div>
                        <div class="card-body">
                            <div class="alert" id="car-detali-alert"></div>
                            <div class="form-row">
                                <div class="col-xl-5 mb-1">
                                    <div class="card border-success" id="card-arrived-cars">
                                        <div class="card-header">
                                            Отправленные вагоны
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-1">
                                    <div class="card border-warning" id="card-car-info">
                                        <div class="card-header">Информация о вагоне</div>
                                        <div class="card-body text-dark">
                                            <div class="row">
                                                <div class="col-xl-12 text-left">
                                                    <button type="button" class="btn btn-primary btn" id="present_car" data-mode="" data-edit="" data-form=""><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Предъявить вагон</button>
                                                    <button type="button" class="btn btn-danger btn float-right" id="return_car" data-mode="" data-edit="" data-form="">Вернуть вагон <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <fieldset class="border-primary">
                                                <div class="form-row">
                                                    <div class="form-group col-xl-3 text-left">
                                                        <label for="num_car" class="mb-1">@IDSRWTResource.title_num_car:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control inp-auto" id="num_car" title="Номер вагона" name="num_car" data-mode="" data-edit="" data-form="transceiver">
                                                            <div class="input-group-append">
                                                                <button type="button" class="btn btn-warning btn" id="car_return" title="Вернуть вагон" data-mode="edit" data-edit="" data-form="transceiver">
                                                                    <i class="fa fa-retweet" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 mb-1 text-left">
                                                        <label for="position_outgoing" class="mb-1">@IDSRWTResource.title_position:</label>
                                                        <input type="number" value="1" class="form-control inp-auto" min="1" max="120" step="1" id="position_outgoing" name="position_outgoing" title="Автоматический ввод\корректировка (номер вагона в составе)" data-mode="edit" data-edit="" data-form="transceiver" />
                                                        <div class="invalid-feedback">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 mb-1 text-left">
                                                        <label for="num_cont_1" class="mb-1">@IDSRWTResource.title_num_cont-1:</label>
                                                        <input type="text" class="form-control inp-manual" id="num_cont_1" name="num_cont_1" title="Номер контейнера" data-mode="edit" data-edit="" data-form="transceiver">
                                                    </div>
                                                    <div class="col-xl-3 mb-1 text-left">
                                                        <label for="num_cont_2" class="mb-1">@IDSRWTResource.title_num_cont-2:</label>
                                                        <input type="text" class="form-control inp-manual" id="num_cont_2" name="num_cont_2" title="Номер контейнера" data-mode="edit" data-edit="" data-form="transceiver">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="border-primary">
                                                <div class="form-row">
                                                    <div class="col-xl-3 text-left">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                                            <label class="form-check-label" for="invalidCheck">Пример</label>
                                                            <div class="invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1 mb-1">
                                    <div class="card border-primary" id="card-not-arrived-cars">
                                        <div class="card-header">
                                            Вагоны
                                        </div>
                                        <div class="card-body text-primary" style="padding: 0.5rem;">
                                            <div class="list-group" id="list-cars-not-outgoing" role="tablist">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!--<div class="card-body text-dark pl-3 pr-3">
        <div class="card border-secondary">
            <div class="card-header bg-secondary text-white" id="sostav-info">
                <h1 id="sostav-title"></h1>
            </div>
            <div class="card-body">
                <div class="alert" id="car-detali-alert"></div>
                <div class="form-row">
                    <div class="col-xl-5 mb-1">
                        <div class="card border-success" id="card-arrived-cars">
                            <div class="card-header">
                                Отправленные вагоны
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <table class="display compact cell-border row-border hover" id="table-outgoing-cars" style="width:100%; font-size:0.8rem;"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-1">
                        <div class="card border-warning" id="card-car-info">
                            <div class="card-header">Информация о вагоне</div>
                            <div class="card-body text-dark">
                                <div class="row mb-1">
                                    <div class="col-xl-12 text-left">
                                        <button type="button" class="btn btn-primary btn" id="present_car" data-mode="" data-edit="" data-form=""><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Предъявить вагон</button>
                                        <button type="button" class="btn btn-danger btn float-right" id="return_car" data-mode="" data-edit="" data-form="">Вернуть вагон <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <fieldset class="border-primary">
                                            <div class="form-row">
                                                <div class="form-group col-xl-3 text-left">
                                                    <label for="num_car" class="mb-1">@IDSRWTResource.title_num_car:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control inp-auto" id="num_car" title="Номер вагона" name="num_car" data-mode="" data-edit="" data-form="transceiver">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-warning btn" id="car_return" title="Вернуть вагон" data-mode="edit" data-edit="" data-form="transceiver">
                                                                <i class="fa fa-retweet" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 mb-1 text-left">
                                                    <label for="position_outgoing" class="mb-1">@IDSRWTResource.title_position:</label>
                                                    <input type="number" value="1" class="form-control inp-auto" min="1" max="120" step="1" id="position_outgoing" name="position_outgoing" title="Автоматический ввод\корректировка (номер вагона в составе)" data-mode="edit" data-edit="" data-form="transceiver" />
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 mb-1 text-left">
                                                    <label for="num_cont_1" class="mb-1">@IDSRWTResource.title_num_cont-1:</label>
                                                    <input type="text" class="form-control inp-manual" id="num_cont_1" name="num_cont_1" title="Номер контейнера" data-mode="edit" data-edit="" data-form="transceiver">
                                                </div>
                                                <div class="col-xl-3 mb-1 text-left">
                                                    <label for="num_cont_2" class="mb-1">@IDSRWTResource.title_num_cont-2:</label>
                                                    <input type="text" class="form-control inp-manual" id="num_cont_2" name="num_cont_2" title="Номер контейнера" data-mode="edit" data-edit="" data-form="transceiver">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-3 mb-1 text-left">
                                                    <label for="date_outgoing_act" class="mb-1">@IDSRWTResource.title_car_date_outgoing_act:</label>
                                                    <input type="datetime" class="form-control inp-manual" id="date_outgoing_act" name="date_outgoing_act" title="Ручной ввод (если вагон сдается по акту)" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="col-xl-5 mb-1 text-left">
                                                    <label for="reason_discrepancy_amkr" class="mb-1">@IDSRWTResource.title_reason_discrepancy_amkr:</label>
                                                    <input type="text" class="form-control inp-manual" id="reason_discrepancy_amkr" name="reason_discrepancy_amkr" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mb-1 text-left">
                                                    <label for="reason_discrepancy_uz" class="mb-1">@IDSRWTResource.title_reason_discrepancy_uz:</label>
                                                    <input type="text" class="form-control inp-manual" id="reason_discrepancy_uz" name="reason_discrepancy_uz" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-3 mb-1 text-left">
                                                    <label for="adm_kod" class="mb-1">@IDSRWTResource.title_adm_kod:</label>
                                                    <input type="text" class="form-control inp-auto" id="adm_kod" name="adm_kod" title="" data-mode="" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>-->
                @*<div class="col-xl-4 mb-1 text-left">
            <label for="adm_name" class="mb-1">@IDSRWTResource.title_adm_name:</label>
            <input type="text" class="form-control inp-auto" id="adm_name" name="adm_name" title="" data-mode="" data-edit="" data-form="transceiver">
            <div class="invalid-feedback">
            </div>
        </div>*@
                <!--<div class="col-xl-3 mb-1 text-left">
        <label for="rod_vag_abbr" class="mb-1">@IDSRWTResource.title_rod_vag_abbr:</label>
        <input type="text" class="form-control inp-auto" id="rod_vag_abbr" name="rod_vag_abbr" title="Справочник 'Карточка вагона' -> Название 'Рода вагона (абр.)'" data-mode="" data-edit="" data-form="transceiver">
        <div class="invalid-feedback">
        </div>
    </div>-->
                @*<div class="col-xl-4 mb-1 text-left">
            <label for="rod_vag_name" class="mb-1">@IDSRWTResource.title_name_rod_vag:</label>
            <input type="text" class="form-control inp-auto" id="rod_vag_name" name="rod_vag_name" title="Справочник 'Карточка вагона' -> Название 'Рода вагона'" data-mode="" data-edit="" data-form="transceiver">
            <div class="invalid-feedback">
            </div>
        </div>*@
                <!--<div class="col-xl-3 mb-1 text-left">
                                    <label for="gruzp_uz" class="mb-1">@IDSRWTResource.title_gruzp_uz:</label>
                                    <input type="text" class="form-control inp-auto" id="gruzp_uz" name="gruzp_uz" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-3 mb-1 text-left">
                                    <label for="tara_uz" class="mb-1">@IDSRWTResource.title_tara_uz:</label>
                                    <input type="text" class="form-control inp-auto" id="tara_uz" name="tara_uz" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="condition_arrival" class="mb-1">@IDSRWTResource.title_condition_arrival:</label>
                                    <input type="text" class="form-control inp-auto" id="condition_arrival" name="condition_arrival" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="condition_provide" class="mb-1">@IDSRWTResource.title_condition_provide:</label>
                                    <input type="text" class="form-control inp-auto" id="condition_provide" name="condition_provide" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="border-primary">
                            <legend>@IDSRWTResource.title_detention_return</legend>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <label for="condition_present" id="condition_present_user" class="mb-1">@IDSRWTResource.title_condition_present:</label>
                                    <div class="input-group">
                                        <textarea class="form-control" id="condition_present" name="condition_present" disabled></textarea>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <fieldset class="border-warning">
                                        <legend>@IDSRWTResource.title_detention</legend>
                                        <div class="form-row">
                                            <div class=" col-xl-11">
                                                <div class="alert" id="car-detention-alert"></div>
                                            </div>
                                            <div class="col-xl-1 pull-right mb-1 text-left">
                                                <button type="button" class="btn btn-danger btn" id="detention_save" title="Сохранить" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <i class="fa fa-save" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning btn" id="detention_edit" title="Править" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6 mb-1 text-left">
                                                <label for="cause_detention" class="mb-1">@IDSRWTResource.title_cause_detention:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control inp-manual" id="cause_detention" name="cause_detention" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="detention_start" class="mb-1">@IDSRWTResource.title_detention_start</label>
                                                <input type="text" class="form-control inp-manual" id="detention_start" name="detention_start" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="detention_stop" class="mb-1">@IDSRWTResource.title_detention_stop:</label>
                                                <input type="text" class="form-control inp-manual" id="detention_stop" name="detention_stop" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <fieldset class="border-danger">
                                        <legend>@IDSRWTResource.title_return</legend>
                                        <div class="form-row">
                                            <div class=" col-xl-11">
                                                <div class="alert" id="car-return-alert"></div>
                                            </div>
                                            <div class="col-xl-1  pull-right mb-1 text-left">
                                                <button type="button" class="btn btn-danger btn" id="return_open" title="Выполнить возврат" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <i class="fa fa-save" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-success btn" id="return_close" title="Закрыть возврат" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6 mb-1 text-left">
                                                <label for="cause_return" class="mb-1">@IDSRWTResource.title_cause_return:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control inp-manual" id="cause_return" name="cause_return" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="return_start" class="mb-1">@IDSRWTResource.title_return_start</label>
                                                <input type="text" class="form-control inp-manual" id="return_start" name="return_start" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="return_stop" class="mb-1">@IDSRWTResource.title_return_stop:</label>
                                                <input type="text" class="form-control inp-manual" id="return_stop" name="return_stop" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="return_num_act" class="mb-1">@IDSRWTResource.title_return_num_act:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control inp-manual" id="return_num_act" name="return_num_act" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="return_date_act" class="mb-1">@IDSRWTResource.title_return_date_act</label>
                                                <input type="text" class="form-control inp-manual" id="return_date_act" name="return_date_act" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-1 text-left">
                                                <label for="return_note" class="mb-1">@IDSRWTResource.title_return_note:</label>
                                                <textarea class="form-control inp-manual" id="return_note" name="return_note" title="" data-mode="edit" data-edit="" data-form="transceiver"></textarea>
                                                <div class="invalid-feedback">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-12 mb-1">
                                                <table class="display compact cell-border row-border hover" id="table-return-car" style="width:100%;"></table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="border-primary">
                            <legend>@IDSRWTResource.title_loading_data</legend>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input inp-manual" id="loaded_car" name="loaded_car" data-mode="edit" data-edit="" data-form="transceiver">
                                        <label class="custom-control-label" for="loaded_car">@IDSRWTResource.title_loaded_car</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-7 mb-1 text-left">
                                    <label for="cargo_name" class="mb-1">@IDSRWTResource.title_cargo_name:</label>
                                    <input type="text" class="form-control inp-manual" id="cargo_name" name="cargo_name" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-xl-2 mb-1 text-left">
                                    <label for="loading_devision_code" class="mb-1">@IDSRWTResource.title_loading_devision_code:</label>
                                    <input type="text" class="form-control inp-auto" id="loading_devision_code" name="loading_devision_code" title="" data-mode="" data-edit="" data-form="transceiver">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-xl-3 mb-1 text-left">
                                    <label for="loading_devision" class="mb-1">@IDSRWTResource.title_loading_devision:</label>
                                    <input type="text" class="form-control inp-manual" id="loading_devision" name="loading_devision" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-2 mb-1 text-left">
                                    <label for="code_station_to" class="mb-1">@IDSRWTResource.title_code_station_to:</label>
                                    <input type="text" class="form-control inp-auto" id="code_station_to" name="code_station_to" title="" data-mode="" data-edit="" data-form="transceiver">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-xl-4 mb-1 text-left">
                                    <label for="name_station_to" class="mb-1">@IDSRWTResource.title_name_station_to:</label>
                                    <input type="text" class="form-control inp-manual" id="name_station_to" name="name_station_to" title="" data-mode="edit" data-edit="" data-form="transceiver">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="owner_name" class="mb-1">@IDSRWTResource.title_name_owner:</label>
                                    <input type="text" class="form-control inp-auto" id="owner_name" name="owner_name" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="operator_name" class="mb-1">@IDSRWTResource.title_name_operator:</label>
                                    <input type="text" class="form-control inp-auto" id="operator_name" name="operator_name" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="limiting_loading_amkr" class="mb-1">@IDSRWTResource.title_limiting_loading_amkr:</label>
                                    <input type="text" class="form-control inp-auto" id="limiting_loading_amkr" name="limiting_loading_amkr" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <label for="limiting_loading_uz" class="mb-1">@IDSRWTResource.title_limiting_loading_uz:</label>
                                    <textarea class="form-control inp-auto" id="limiting_loading_uz" name="limiting_loading_uz" title="" data-mode="" data-edit="" data-form="transceiver"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <fieldset class="border-info">
                                        <legend>@IDSRWTResource.title_epd</legend>
                                        <div class="form-row">
                                            <div class="col-xl-4 mb-1 text-left">
                                                <label for="uz_doc_num" class="mb-1">@IDSRWTResource.title_uz_doc_num_doc:</label>
                                                <input type="text" class="form-control inp-epd" id="uz_doc_num" name="uz_doc_num" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-2 mb-1 text-left">
                                                <label for="vesg_uz_doc" class="mb-1">@IDSRWTResource.title_vesg_uz_doc:</label>
                                                <input type="text" class="form-control inp-epd" id="vesg_uz_doc" name="vesg_uz_doc" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-2 mb-1 text-left">
                                                <label for="ves_tary_uz_doc" class="mb-1">@IDSRWTResource.title_ves_tary_uz:</label>
                                                <input type="text" class="form-control inp-epd" id="ves_tary_uz_doc" name="ves_tary_uz_doc" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-4 mb-1 text-left">
                                                <label for="brigadier_loading_uz_doc" class="mb-1">@IDSRWTResource.title_brigadier_loading:</label>
                                                <input type="text" class="form-control inp-epd" id="brigadier_loading_uz_doc" name="brigadier_loading_uz_doc" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="kod_etsng" class="mb-1">@IDSRWTResource.title_kod_etsng:</label>
                                                <input type="text" class="form-control inp-epd" id="kod_etsng" name="kod_etsng" title="ЭПД [OTPR/VAGON/COLLECT_V/kod_etsng] -> Код груза по ЕТ СНГ" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-9 mb-1 text-left">
                                                <label for="name_etsng" class="mb-1">@IDSRWTResource.title_name_etsng</label>
                                                <div class="input-group">
                                                    <textarea class="form-control inp-epd" id="name_etsng" name="name_etsng" title="ЭПД [OTPR/VAGON/COLLECT_V/name_etsng] -> Справочник 'Грузов ЕТ СНГ' -> Справочник 'Грузов ИДС' -> Название груза по ЕТ СНГ" data-mode="" data-edit="" data-form="transceiver"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="station_code_on" class="mb-1">@IDSRWTResource.title_stn_code:</label>
                                                <input type="text" class="form-control inp-epd" id="station_code_on" name="uz_route_stn_on" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-4 mb-1 text-left">
                                                <label for="station_name_on" class="mb-1">@IDSRWTResource.title_station_name_on</label>
                                                <input type="text" class="form-control inp-epd" id="station_name_on" name="station_name_on" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-5 mb-1 text-left">
                                                <label for="railway_name_on" class="mb-1">@IDSRWTResource.title_railway_name</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control inp-epd" id="railway_name_on" name="railway_name_on" title="" data-mode="" data-edit="" data-form="transceiver">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-3 mb-1 text-left">
                                                <label for="client_kod_on" class="mb-1">@IDSRWTResource.title_client_kod:</label>
                                                <input type="text" class="form-control inp-epd" id="client_kod_on" name="client_kod_on" title="" data-mode="" data-edit="" data-form="transceiver">
                                            </div>
                                            <div class="col-xl-9 mb-1 text-left">
                                                <label for="client_name_on" class="mb-1">@IDSRWTResource.title_client_name_on</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control inp-epd" id="client_name_on" name="client_name_on" title="" data-mode="" data-edit="" data-form="transceiver">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 mb-1 text-left">
                                    <fieldset class="border-info">
                                        <legend>@IDSRWTResource.title_sap_outbound_supply</legend>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="border-primary">
                            <legend>@IDSRWTResource.title_data_arrival</legend>
                            <div class="form-row">
                                <div class="col-xl-4 mb-1 text-left">
                                    <label for="cargo_arrival" class="mb-1">@IDSRWTResource.title_cargo:</label>
                                    <input type="text" class="form-control inp-auto" id="cargo_arrival" name="cargo_arrival" placeholder="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-8 mb-1 text-left">
                                    <label for="cargo_sap" class="mb-1">@IDSRWTResource.title_material_name SAP:</label>
                                    <input type="text" class="form-control inp-auto" id="cargo_sap" name="cargo_sap" placeholder="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-4 mb-1 text-left">
                                    <label for="date_arrival" class="mb-1">@IDSRWTResource.title_date_adoption:</label>
                                    <input type="datetime" class="form-control inp-auto" id="date_arrival" name="date_arrival" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-8 mb-1 text-left">
                                    <label for="owner_name_arrival" class="mb-1">@IDSRWTResource.title_name_owner:</label>
                                    <input type="text" class="form-control inp-auto" id="owner_name_arrival" name="owner_name_arrival" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="operator_name_arrival" class="mb-1">@IDSRWTResource.title_name_operator:</label>
                                    <input type="text" class="form-control inp-auto" id="operator_name_arrival" name="operator_name_arrival" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                                <div class="col-xl-6 mb-1 text-left">
                                    <label for="limiting_loading_arrival" class="mb-1">@IDSRWTResource.title_limiting_loading_amkr:</label>
                                    <input type="text" class="form-control inp-auto" id="limiting_loading_arrival" name="limiting_loading_arrival" title="" data-mode="" data-edit="" data-form="transceiver">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xl-1 mb-1">
        <div class="card border-primary" id="card-not-arrived-cars">
            <div class="card-header">
                Вагоны-->
                @*<button type="button" class="btn btn-warning btn-sm" id="add-num-car-of-epd" title="Найти вагоны по ЭПД, поиск документа по номеру" data-form="transceiver">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm" id="add-num-car-manual" title="Добавить вагон вручную" data-form="transceiver">
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
        </button>*@
                <!--</div>
                            <div class="card-body text-primary" style="padding: 0.5rem;">
                                <div class="list-group" id="list-cars-not-outgoing" role="tablist">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

                <div class="card-footer bg-transparent border-dark"></div>
            </div>
        </div>
    </div>
</div>