@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSRWTResource.wsd_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/wsd.css">


}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_rwt_incoming.js"></script> <!-- Class API ИДС Прием вагонов -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/uz_sms.js"></script> <!-- Class API Работа с модулем согласования -->

    <script src="~/Scripts/view/idsrwt/wsd.js"></script> <!--  -->
}
<input id="username" type="hidden" value="@User.Identity.Name" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Операции
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Операция-1</a>
                        <a class="dropdown-item" href="#">Операция-2</a>
                        <a class="dropdown-item" href="#">Операция-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Отчет-1</a>
                        <a class="dropdown-item" href="#">Отчет-2</a>
                        <a class="dropdown-item" href="#">Отчет-3</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="alert" id="main-alert">Внимание сообщение</div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-outline-secondary">Приб.</button>
                                            <button type="button" class="btn btn-outline-secondary">Отпр.</button>
                                            <button type="button" class="btn btn-outline-secondary">Дисл.</button>
                                            <button type="button" class="btn btn-outline-secondary">Выгр.</button>
                                            <button type="button" class="btn btn-outline-secondary">Погр.</button>
                                            <button type="button" class="btn btn-outline-secondary">Весы.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-secondary">Авто</button>
                                            <button type="button" class="btn btn-outline-secondary">Ручная</button>
                                            <button type="button" class="btn btn-outline-secondary">Реверс</button>
                                        </div>
                                        @*<div class="btn-group" role="group" aria-label="Third group">

                                            </div>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card border-primary">
                                <div class="card-header">Дерево путей</div>
                                <div class="card-body">
                                    <table id="tree-way" class="compact" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th colspan="4">Дерево путей</th>
                                                <th>Оператор</th>
                                                <th>Кол</th>
                                                <th>Макс</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card border-info">
                                <div class="card-header">Перечень вагонов</div>
                                <div class="card-body text-info">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark"></div>
            </div>
        </div>
    </div>
</div>