@using WEB_UI.App_LocalResources;
@{
    ViewBag.Title = @IDSRWTResource.wsd_title;
}

@section styles {
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/wsd.css">


}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")

    <script src="~/Scripts/view/shared/common.js"></script> <!-- Общая библиотека методов программы -->
    <script src="~/Scripts/api/shared.js"></script> <!-- Общая библиотека методов API -->
    <script src="~/Scripts/api/ids_sap.js"></script> <!-- Class API SAP функции для работы с САП -->
    <script src="~/Scripts/api/uz_directory.js"></script> <!-- Class API УЗ Справочники -->
    <script src="~/Scripts/api/ids_directory.js"></script> <!-- Class API ИДС Справочники -->
    <script src="~/Scripts/api/metrans.js"></script> <!-- Class API МЕТРАНС -->
    <script src="~/Scripts/api/ids_rwt.js"></script> <!-- Class API ИДС Прием вагонов -->
    <script src="~/Scripts/api/ids_transfer.js"></script> <!-- Class API ИДС Переносы -->
    <script src="~/Scripts/api/uz_sms.js"></script> <!-- Class API Работа с модулем согласования -->

    <script src="~/Scripts/plugins/pl_dialog_confirm.js"></script> <!-- Плагин -->

    <script src="~/Scripts/view/idsrwt/wsd.js"></script> <!--  -->
}
<input id="username" type="hidden" value="@User.Identity.Name" />

<div id="dialog-confirm"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Операции
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Операция-1</a>
                        <a class="dropdown-item" href="#">Операция-2</a>
                        <a class="dropdown-item" href="#">Операция-3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Отчет-1</a>
                        <a class="dropdown-item" href="#">Отчет-2</a>
                        <a class="dropdown-item" href="#">Отчет-3</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="alert" id="main-alert"></div>
    <div class="row">
        <div class="col-xl-12 mb-3 mt-2">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <div class="container-fluid">
                                <form class="form-inline">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-outline-secondary" id="arrival">Приб.</button>
                                            <button type="button" class="btn btn-outline-secondary" id="sending">Отпр.</button>
                                            <button type="button" class="btn btn-outline-secondary" id="dislocation">Дисл.</button>
                                            <button type="button" class="btn btn-outline-secondary" id="dissolution">Росп.</button>
                                            <button type="button" class="btn btn-outline-secondary">Выгр.</button>
                                            <button type="button" class="btn btn-outline-secondary">Погр.</button>
                                            <button type="button" class="btn btn-outline-secondary">Весы.</button>
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn btn-outline-secondary">Авто</button>
                                            <button type="button" class="btn btn-outline-secondary">Ручная</button>
                                            <button type="button" class="btn btn-outline-secondary">Реверс</button>
                                        </div>
                                        @*<div class="btn-group" role="group" aria-label="Third group">

                                            </div>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-dark pl-3 pr-3">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card border-primary">
                                <div class="card-header">Дерево путей</div>
                                <div class="card-body">
                                    @*style="overflow-x:scroll"*@
                                    <table id="tree-way" class="compact">
                                        <thead>
                                            <tr>
                                                <th colspan="4" style="width:100px">Дерево путей</th>
                                                <th>Оператор</th>
                                                <th>Кол</th>
                                                <th>Макс</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card border-info">
                                <div class="card-header">Перечень вагонов</div>
                                <div class="card-body" style="font-size:13px">
                                    <table id="wagons-way" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-dark"></div>
            </div>
        </div>
    </div>
</div>

<div id="loading_way_detail" title="" style="display:none">
    <form id="form_loading_way_detail">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general_loading" role="tab" aria-controls="home" aria-selected="true">Общая</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#operators_loading" role="tab" aria-controls="profile" aria-selected="false">Операторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cargo_loading" role="tab" aria-controls="contact" aria-selected="false">Груз</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general_loading" role="tabpanel" aria-labelledby="home-tab">.</div>
                <div class="tab-pane fade" id="operators_loading" role="tabpanel" aria-labelledby="profile-tab">..</div>
                <div class="tab-pane fade" id="cargo_loading" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>

<div id="select_wagon" title="" style="min-height:0px;overflow:hidden;display:none">
    <form id="form_select_wagon" class="form-inline" style="font-size:12px">
        <div class="form-group">
            <label for="select_wagon_side">Сторона:</label>
            @*<input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">*@
            <select class="custom-select form-control mx-sm-3" id="select_wagon_side" name="select_wagon_side">
                @*<option selected value="1">Голова</option>
                    <option value="2">Хвост</option>*@
            </select>
        </div>
        <div class="form-group">
            <label for="select_wagon_side">Кол:</label>
            <input type="number" class="form-control mx-sm-3" id="select_wagon_count" name="select_wagon_count" style="width:70px" placeholder="">
            <button class="btn btn-primary" id="select_ok">Ок</button>
        </div>

        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>

<div id="dislocation_wagon" title="" style="display:none">
    <div class="alert" id="dislocation_wagon_alert"></div>
    <form id="form_dislocation_wagon">
        <div class="form-row">
            <div class="col-md-9 mb-2">
                <label for="dislocation_wagon_way_from" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_way_from:</label>
                <input type="text" class="form-control" id="dislocation_wagon_way_from" name="dislocation_wagon_way_from" disabled="disabled" />
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-check" style="margin-top:35%">
                    <input type="checkbox" class="form-check-input" id="dislocation_wagon_reverse">
                    <label class="form-check-label" for="dislocation_wagon_reverse">@IDSRWTResource.title_dislocation_wagon_reverse:</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9 mb-2">
                <label for="dislocation_wagon_way" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_way:</label>
                <select class="form-control" id="dislocation_wagon_way" name="dislocation_wagon_way" required="required"></select>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="col-md-3 mb-2">
                <label for="dislocation_wagon_side" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_side:</label>
                <select class="form-control" id="dislocation_wagon_side" name="dislocation_wagon_side" required="required"></select>
                <div class="invalid-feedback">

                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="dislocation_wagon_start" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_start:</label>
                <input type="datetime" class="form-control" id="dislocation_wagon_start" name="dislocation_wagon_start" />
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="col-md-6 mb-2">
                <label for="dislocation_wagon_stop" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_stop:</label>
                <input type="datetime" class="form-control" id="dislocation_wagon_stop" name="dislocation_wagon_stop" />
                <div class="invalid-feedback">

                </div>
            </div>
        </div>
        <div class="form-row">

        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>

<div class="cd-operation-detali">
    <div class="container-fluid">
        <form class="cd-form">
            <div class="alert" id="operation-alert"></div>
            <div class="row operation-dissolution">
                <div class="col-xl-12 mb-1 mt-1">
                    <div class="card border-secondary mb-1">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <div class="container-fluid">
                                        ОПЕРАЦИЯ "РОСПУСКА СОСТАВА НА СТАНЦИИ АМКР"
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark pl-3 pr-3">
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-primary">
                                        <div class="card-header text-left">ПУТИ РОСПУСКА</div>
                                        <div class="card-body">
                                            <fieldset class="border-primary">
                                                <div class="form-group row">
                                                    <label for="operation_detali_dissolution_start" class="col-xl-2 col-form-label text-right">@IDSRWTResource.title_operation_start:</label>
                                                    <div class="col-xl-2">
                                                        <input type="datetime" class="form-control" id="operation_detali_dissolution_start" name="operation_detali_dissolution_start" />
                                                        <div class="invalid-feedback"></div>
                                                    </div>
                                                    <label for="operation_detali_dissolution_stop" class="col-xl-2 col-form-label text-right">@IDSRWTResource.title_operation_stop:</label>
                                                    <div class="col-xl-2">
                                                        <input type="datetime" class="form-control" id="operation_detali_dissolution_stop" name="operation_detali_dissolution_stop" />
                                                        <div class="invalid-feedback"></div>
                                                    </div>
                                                    <div class="col-xl-3 text-center">
                                                        <button class="btn btn-primary" id="operation_dissolution_run" disabled="disabled">@IDSRWTResource.title_operation_dissolution_run</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <fieldset class="border-primary">
                                                        <legend class="text-primary">Список путей</legend>
                                                        <div class="operator-detali-tables">
                                                            <table id="way-dissolution" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-xl-9">
                                                    <fieldset class="border-primary">
                                                        <legend class="text-primary">Вагоны на путях роспуска</legend>
                                                        <div class="operator-detali-tables">
                                                            <table id="wagons-way-on" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-info">
                                        <div class="card-header text-left">ВАГОНЫ ДЛЯ РОСПУСКА</div>
                                        <div class="card-body operator-detali-tables">
                                            <table id="wagons-way-from" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row operation-sending">
                <div class="col-xl-12 mb-1 mt-1">
                    <div class="card border-secondary mb-1">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <div class="container-fluid">
                                        ОПЕРАЦИЯ "ОТПРАВЛЕНИЯ СОСТАВА НА СТАНЦИЮ АМКР"
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark pl-3 pr-3">
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-primary">
                                        <div class="card-header text-left">ОТПРАВИТЬ НА ДРУГУЮ СТАНЦИЮ</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <fieldset class="border-primary">
                                                        <div class="form-row text-center ">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <button class="btn btn-primary" id="operation_sending_run" disabled="disabled">@IDSRWTResource.title_operation_sending_run</button>
                                                            </div>

                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <label for="operation_detali_sending_way_from" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_way_from:</label>
                                                                <input type="text" class="form-control" id="operation_detali_sending_way_from" name="operation_detali_sending_way_from" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <label for="operation_detali_sending_station" class="col-form-label">@IDSRWTResource.title_operation_detali_sending_station:</label>
                                                                <select class="form-control" id="operation_detali_sending_station" name="operation_detali_sending_station" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <label for="operation_detali_sending_outer_ways" class="col-form-label">@IDSRWTResource.title_operation_detali_sending_outer_ways:</label>
                                                                <select class="form-control" id="operation_detali_sending_outer_ways" name="operation_detali_sending_outer_ways" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <label for="operation_detali_sending_num_train" class="col-form-label">@IDSRWTResource.title_operation_detali_sending_num_train:</label>
                                                                <input type="number" class="form-control" id="operation_detali_sending_num_train" name="operation_detali_sending_num_train" />
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_sending_locomotive1" class="col-form-label">@IDSRWTResource.title_operation_detali_locomotive №1:</label>
                                                                <select class="form-control" id="operation_detali_sending_locomotive1" name="operation_detali_sending_locomotive1" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_sending_locomotive2" class="col-form-label">@IDSRWTResource.title_operation_detali_locomotive №2:</label>
                                                                <select class="form-control" id="operation_detali_sending_locomotive2" name="operation_detali_sending_locomotive2" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_sending_lead_time" class="col-form-label">@IDSRWTResource.title_operation_detali_lead_time</label>
                                                                <input type="datetime" class="form-control" id="operation_detali_sending_lead_time" name="operation_detali_sending_lead_time" />
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                            @*<div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_sending_stop" class="col-form-label">@IDSRWTResource.title_operation_stop</label>
                                                                <input type="datetime" class="form-control" id="operation_detali_sending_stop" name="operation_detali_sending_stop" />
                                                                <div class="invalid-feedback"></div>
                                                            </div>*@
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-xl-9">
                                                    <fieldset class="border-primary">
                                                        <legend class="text-primary">Сформированный состав</legend>
                                                        <div class="operator-detali-tables">
                                                            <table id="wagons-sending" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-info">
                                        <div class="card-header text-left">ВАГОНЫ ДЛЯ ОТПРАВКИ</div>
                                        <div class="card-body operator-detali-tables">
                                            <table id="wagons-sending-way-from" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row operation-arrival">
                <div class="col-xl-12 mb-1 mt-1">
                    <div class="card border-secondary mb-1">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <div class="container-fluid">
                                        ОПЕРАЦИЯ "ПРИБЫТИЯ СОСТАВА НА СТАНЦИЮ АМКР"
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark pl-3 pr-3">
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-primary">
                                        <div class="card-header text-left">ПРИНЯТЬ НА СТАНЦИЮ</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-4">
                                                    <fieldset class="border-primary">
                                                        <div class="form-row text-center ">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <button class="btn btn-primary" id="operation_arrival_run" disabled="disabled">@IDSRWTResource.title_operation_arrival_run</button>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <label for="operation_detali_arrival_way" class="col-form-label">@IDSRWTResource.title_operation_detali_arrival_way:</label>
                                                                <select class="form-control" id="operation_detali_arrival_way" name="operation_detali_arrival_way" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <div class="form-check" style="margin-top:20%">
                                                                    <input type="checkbox" class="form-check-input" id="operation_detali_arrival_reverse">
                                                                    <label class="form-check-label" for="operation_detali_arrival_reverse">@IDSRWTResource.title_operation_detali_arrival_reverse:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_arrival_side" class="col-form-label">@IDSRWTResource.title_dislocation_wagon_side:</label>
                                                                <select class="form-control" id="operation_detali_arrival_side" name="operation_detali_arrival_side" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_arrival_locomotive1" class="col-form-label">@IDSRWTResource.title_operation_detali_locomotive №1:</label>
                                                                <select class="form-control" id="operation_detali_arrival_locomotive1" name="operation_detali_arrival_locomotive1" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_arrival_locomotive2" class="col-form-label">@IDSRWTResource.title_operation_detali_locomotive №2:</label>
                                                                <select class="form-control" id="operation_detali_arrival_locomotive2" name="operation_detali_arrival_locomotive2" required="required"></select>
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 mb-1 text-left">
                                                                <label for="operation_detali_arrival_lead_time" class="col-form-label">@IDSRWTResource.title_operation_detali_lead_time</label>
                                                                <input type="datetime" class="form-control" id="operation_detali_arrival_lead_time" name="operation_detali_arrival_lead_time" />
                                                                <div class="invalid-feedback"></div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-xl-8">
                                                    <fieldset class="border-primary">
                                                        <legend class="text-primary">Прибывший состав</legend>
                                                        <div class="operator-detali-tables">
                                                            <table id="wagons-arrival-on" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-xl-12">
                                    <div class="card border-info">
                                        <div class="card-header text-left">ПРИБЫВАЮЩИЕ СОСТАВЫ</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-4">
                                                    <fieldset class="border-primary">
                                                        <div class="form-row text-center ">
                                                            <div class="col-xl-12 mb-1 text-left">
                                                                <div class="form-row">
                                                                    <div class="col-xl-12 mb-1 text-left">
                                                                        <label for="operation_detali_arrival_station" class="col-form-label">@IDSRWTResource.title_operation_detali_arrival_station:</label>
                                                                        <select class="form-control" id="operation_detali_arrival_station" name="operation_detali_arrival_station" required="required"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col-xl-12 mb-1 text-left">
                                                                        <label for="operation_detali_arrival_outer_ways" class="col-form-label">@IDSRWTResource.title_operation_detali_arrival_outer_ways:</label>
                                                                        <select class="form-control" id="operation_detali_arrival_outer_ways" name="operation_detali_arrival_outer_ways" required="required"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                    <div class="col-xl-12 operator-detali-tables">
                                                                        <table id="arrival_sostav" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-xl-8">
                                                    <fieldset class="border-primary">
                                                        <legend class="text-primary">Прибывающий состав</legend>
                                                        <div class="operator-detali-tables">
                                                            <table id="wagons-arrival-from" class="compact table table-striped table-hover" style="width:100%; table-layout: fixed"></table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a href="#0" class="close cd-img-replace">Close</a>
    </div>
</div>