@using WEB_UI.App_LocalResources;

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/bootstrap/css")

    <!-- Theme CSS -->
    <link href="~/Content/view/shared/_idsdirectory.css" rel="stylesheet">

    @RenderSection("styles", required: false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="lockPanel" class="LockOff"></div>
    <header class="cd-main-header bg-amkr">
        <a class="cd-logo" href="#0"><img src="~/Images/amk_logo.png" alt="Logo"></a>
        <ul class="cd-header-buttons">
            <li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
        </ul> <!-- cd-header-buttons -->
    </header>
    <main class="cd-main-content">
        <!-- your content here -->
        @RenderBody()
        <div class="cd-overlay"></div>
    </main>
    <nav class="cd-nav">
        <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
            <li><a href='@Url.Action("Index", "Home", new { Area = "" })'>Home</a></li>
            <li class="has-children">
                <a href="#">Справочники ИДС</a>
                <ul class="cd-secondary-nav is-hidden">
                    <li class="go-back"><a href="#0">Меню</a></li>
                    <li class="see-all"><a href="#">Все справочники ИДС</a></li>
                    <li class="has-children">
                        <a href="#">Вагоны</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Справочники ИДС</a></li>
                            <li class="see-all"><a href="#">Вагоны</a></li>
                            <li><a href='@Url.Action("Cars", "Home", new { Area = "Directory" })'>Карточка вагона</a></li>
                            <li><a href='@Url.Action("Countrys", "Home", new { Area = "Directory" })'>Страны</a></li>
                            <li><a href="#" class="disabled">Род вагона</a></li>
                            <li><a href="#" class="disabled">Тип вагона</a></li>
                            <li><a href="#" class="disabled">Разметка по прибытию</a></li>
                            <li><a href="#" class="disabled">Собственики</a></li>
                            @*<li><a href="#" class="disabled">Операторы</a></li>*@
                            <li><a href='@Url.Action("OperatorsWagons", "Home", new { Area = "Directory" })'>Операторы</a></li>
                            <li><a href="#" class="disabled">Признаки собственности</a></li>
                            <li><a href="#" class="disabled">Ограничения погрузки</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">Маршруты и клиенты</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Справочники ИДС</a></li>
                            <li class="see-all"><a href="#">Маршруты и клиенты</a></li>
                            <li><a href='@Url.Action("Railway", "Home", new { Area = "Directory" })'>Железные дороги</a></li>
                            <li><a href='@Url.Action("InlandRailway", "Home", new { Area = "Directory" })'>Внутренние железные дороги</a></li>
                            <li><a href='@Url.Action("ExternalStation", "Home", new { Area = "Directory" })'>Внешние станции</a></li>
                            <li><a href="#" class="disabled">Пограничные пункты</a></li>
                            <li><a href="#" class="disabled">Грузоотправители</a></li>
                            <li><a href='@Url.Action("Shipper", "Home", new { Area = "Directory" })' class="disabled">Грузополучатели</a></li>

                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">Грузы</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Справочники ИДС</a></li>
                            <li class="see-all"><a href="#">Грузы</a></li>
                            <li><a href='@Url.Action("Cargo", "Home", new { Area = "Directory" })'>Грузы</a></li>
                            <li><a href='@Url.Action("CargoGroup", "Home", new { Area = "Directory" })'>Группы грузов</a></li>
                            <li><a href="#" class="disabled">Грузы ЕТ СНГ</a></li>
                            <li><a href="#" class="disabled">Грузы ГНГ</a></li>
                            <li><a href="#" class="disabled">Сертификационные данные</a></li>
                            <li><a href="#" class="disabled">Коммерчиское сотояние грузов</a></li>
                            <li><a href="#" class="disabled">Класы опасности</a></li>
                            <li><a href="#" class="disabled">Плательщики по отправке</a></li>
                            <li><a href="#" class="disabled">Плательщики по прибытию</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#">Общие</a>
                        <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Справочники ИДС</a></li>
                            <li class="see-all"><a href="#">Общие</a></li>
                            <li><a href="#" class="disabled">Внутрение станции</a></li>
                            <li><a href='@Url.Action("Park", "Home", new { Area = "Directory" })'>Парки и пути</a></li>
                            @*<li><a href='@Url.Action("Ways", "Home", new { Area = "Directory" })'>Пути</a></li>*@
                            <li><a href="#" class="disabled">Подразделения</a></li>
                            <li><a href="#" class="disabled">Типы подразделений</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            @*<li class="has-children">
                <a href="#">Gallery</a>
                <ul class="cd-nav-gallery is-hidden">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li class="see-all"><a href="#">Browse Gallery</a></li>
                    <li>
                        <a class="cd-nav-item" href="#">
                            <img src="img/img.jpg" alt="Product Image">
                            <h3>Product #1</h3>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="#">
                            <img src="img/img.jpg" alt="Product Image">
                            <h3>Product #2</h3>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="#">
                            <img src="img/img.jpg" alt="Product Image">
                            <h3>Product #3</h3>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="#">
                            <img src="img/img.jpg" alt="Product Image">
                            <h3>Product #4</h3>
                        </a>
                    </li>
                </ul>
            </li>*@
            <li class="has-children">
                <a href="#">Сервисы</a>
                <ul class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#0">Меню</a></li>
                    <li class="see-all"><a href="#">Обзор сервисов</a></li>
                    <li>
                        <a class="cd-nav-item item-1" href='@Url.Action("InstructionalLetters", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.instructional_letters_title</h3>
                            <p>@DirectoryResource.instructional_letters_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-2" href='@Url.Action("SearchWagon", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.search_wagon_title</h3>
                            <p>@DirectoryResource.search_wagon_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-3" href='@Url.Action("ParkState", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.park_state_title</h3>
                            <p>@DirectoryResource.park_state_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-6" href='@Url.Action("WagonMarking", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.wagon_marking_title</h3>
                            <p>@DirectoryResource.wagon_marking_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-6" href='@Url.Action("PresentWagonMarking", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.present_wagon_marking_title</h3>
                            <p>@DirectoryResource.present_wagon_marking_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-6" href='@Url.Action("ComCondition", "Home", new { Area = "Directory" })'>
                            <h3>@DirectoryResource.commercial_condition_title</h3>
                            <p>@DirectoryResource.commercial_condition_description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-7" href="#">
                            <h3>Service #7</h3>
                            <p>This is the item description</p>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item item-8" href="#">
                            <h3>Service #8</h3>
                            <p>This is the item description</p>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul> <!-- primary-nav -->
    </nav> <!-- cd-nav -->
    <div id="cd-search" class="cd-search">
        <form>
            <input type="search" placeholder="Search...">
        </form>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-cookie")
    @Scripts.Render("~/bundles/jquery-ui")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")

    @*<script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/main.js"></script>*@ 
    <!-- Resource jQuery -->

    <!-- Theme JavaScript -->
    <script src="~/Scripts/view/shared/_idsdirectory.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

